<div class="parameters-container">

  <div class="parameters-header-section pb-3">
    <ng-select class="integraa-select" [clearable]="false" (change)="changeView()" [(ngModel)]="visibleView" [items]="views"></ng-select>
  </div>


  <ng-container *ngIf="visibleView.value == 1">
    <!-- Section 1 -->
    <div class="parameters-section">
      <div class="parameters-section-title">Impostazioni Generali</div>
      <div class="row parameter-item">
        <div class="col-5"> <label>Giorno di Partenza</label> </div>
        <div class="col-7"> <input  [(ngModel)]="data.departure_date" type="text" ngbDatepicker #timeOfServiceDP="ngbDatepicker" (focus)="timeOfServiceDP.toggle()" placeholder="DD/MM/YYYY" class="parameter-text-input"> </div>
      </div>
      <div class="row parameter-item">
        <div class="col-5"> <label>Ora di Partenza</label> </div>
        <div class="col-7">
          <ngx-timepicker-field [(ngModel)]="data.departure_time" [format]="24" class="w-75" [controlOnly]="true"></ngx-timepicker-field>
          <!--<input type="text" [(ngModel)]="data.departure_time" class="parameter-text-input parameter-medium-input" placeholder="H:i" type="time" min="0" max="24">-->
        </div>
      </div>
      <div class="row parameter-item">
        <div class="col-5"> <label>Tempo di Servizio (singolo)</label> </div>
        <div class="col-7"> <ng-select class="integraa-select parameter-select-input" [bindLabel]="'label'" [clearable]="false" [(ngModel)]="data.service_time_single" [items]="options.serviceTimeOptions"></ng-select> </div>
      </div>
      <div class="row parameter-item">
        <div class="col-5"> <label>Tempo di Servizio (multiplo)</label> </div>
        <div class="col-7"> <ng-select class="integraa-select parameter-select-input" [bindLabel]="'label'" [clearable]="false" [(ngModel)]="data.service_time_multiple" [items]="options.serviceTimeOptions"></ng-select> </div>
      </div>
      <div class="row parameter-item">
        <div class="col-5"> <label>Tempo di pause</label> </div>
        <div class="col-7">
          <div class="d-flex">
            <span class="mt-auto mb-auto mr-1">Della : </span><ngx-timepicker-field [(ngModel)]="data.pause_time_start" [format]="24" [controlOnly]="true"></ngx-timepicker-field>
            <span class="mt-auto mb-auto ml-2 mr-1">Alle : </span><ngx-timepicker-field [(ngModel)]="data.pause_time_end" [format]="24" [controlOnly]="true"></ngx-timepicker-field>
          </div>

          <!--<input type="text" [(ngModel)]="data.pause_time_start" class="parameter-number-input" placeholder="H:i" (change)="formatTime($event.target.value, 'pause_time_start')" >-->
          <!--<input type="text" [(ngModel)]="data.pause_time_end" class="parameter-number-input" placeholder="H:i" (change)="formatTime($event.target.value, 'pause_time_end')" >-->
        </div>
      </div>
      <div class="row parameter-item mt-0">
        <div class="col-5 pt-2"> <label>Modalità di viaggio</label> </div>
        <div class="col-7"> <ng-select [bindLabel]="'label'" [clearable]="false" [(ngModel)]="data.travel_mode" [items]="options.travelModes" class="integraa-select parameter-select-input"></ng-select></div>
      </div>
    </div>


    <!-- Section 2  -->

    <div class="parameters-section">
      <div class="parameters-section-title">Postini multipli</div>
      <div class="row parameter-item mt-0">
        <div class="col-5 pt-2"> <label>Numero di Postini</label> </div>
        <div class="col-7"> <input [(ngModel)]="data.post_man_number" min="1" type="number" (change)="validateNumber($event.target.value, 'post_man_number', 0)"class="parameter-number-input"> postino. </div>
      </div>
      <div class="row parameter-item">
        <div class="col-5"> <label>Ore di lavoro al gg.</label> </div>
        <div class="col-7">
          <input type="text" [(ngModel)]="data.hours_per_day_hour" type="number" min="0" max="24" (change)="validateNumber($event.target.value, 'hours_per_day_hour', 0, 24, 2)" class="parameter-number-input"> Ore.
          <input type="text" [(ngModel)]="data.hours_per_day_minute" type="number" min="0" max="60" (change)="validateNumber($event.target.value, 'hours_per_day_minute', 0, 60, 2)" class="parameter-number-input"> Min.
        </div>
      </div>
      <div class="row parameter-item">
        <div class="col-5"> <label>Massimo di prodotti al gg.</label> </div>
        <div class="col-7"> <input [(ngModel)]="data.max_product" min="1" type="number" min="0" (change)="validateNumber($event.target.value, 'max_product', 0)" class="parameter-text-input parameter-number-input"> prodotti. </div>
      </div>
      <div class="row parameter-item mt-0">
        <div class="col-5 pt-2"> <label>Consenti deviazione</label> </div>
        <div class="col-7"><ng-select class="integraa-select parameter-select-input" [(ngModel)]="data.deviation" [clearable]="false" [items]="options.devision"></ng-select></div>
      </div>
    </div>

    <!-- Section 3  -->

    <div class="parameters-section">
      <div class="parameters-section-title">Opzioni di Ottimizzazione</div>
      <div class="row parameter-item mt-0">
        <div class="col-5 pt-2"> <label>Obiettivo</label> </div>
        <div class="col-7"> <ng-select [(ngModel)]="data.target" [clearable]="false" [bindLabel]="'label'" [items]="options.target" class="integraa-select parameter-select-input"></ng-select> </div>
      </div>
      <div class="row parameter-item mt-0">
        <div class="col-5 pt-2"> <label>Città mischiati</label> </div>
        <div class="col-7"><ng-select [(ngModel)]="data.mixed_cities" [clearable]="false" [bindLabel]="'label'" [items]="options.mixedCities" class="integraa-select parameter-select-input"></ng-select></div>
      </div>
      <div class="row parameter-item mt-0">
        <div class="col-5 pt-2"> <label>Partenza</label> </div>
        <div class="col-7"><ng-select [(ngModel)]="data.path_start" [clearable]="false" [bindLabel]="'label'" [items]="options.pathStart" class="integraa-select parameter-select-input"></ng-select></div>
      </div>
    </div>

    <!-- Section 4  -->

    <div class="parameters-section">
      <div class="parameters-section-title">Operazione/Stampa</div>
      <div class="row parameter-item">
        <div class="col-5"> <label>Prendere in considerazione lavorazione di Stampa</label> </div>
        <div class="col-7"> <input type="checkbox"> </div>
      </div>
    </div>

    <!-- Submit section -->

    <div class="submit-section mt-3">
      <button class="integraa-btn float-right" (click)="save()">Pianifica</button>
      <div class="clear-both"></div>
    </div>
  </ng-container>

  <ng-container *ngIf="visibleView.value == 2">
    <div class="parameters-section">
      <div class="all-pre-dispatches-select-section">Predistinte pianificate</div>
      <div class="search-box-container">
        <app-search-box (changed)="searchPreDispatches($event)" [placeholder]="'Nome'"></app-search-box>
      </div>

      <div class="pre-dispatches-container mt-2" #preDispatchesContainer infiniteScroll (scrolled)="loadMorePreDispatched()" [scrollWindow]="false" [infiniteScrollContainer]="preDispatchesContainer" infiniteScrollDistance="30">
        <ng-container *ngFor="let preDispatch of preDispatchesList; let idx = index">
          <ng-container *ngIf="preDispatch.skeleton">
            <div class="rect-loading-skeleton full-width schedule-skeleton h-33"></div>
          </ng-container>
          <ng-container *ngIf="!preDispatch.skeleton">
            <div class="pre-dispatch-row" [ngClass]="{'odd-bg':(idx%2),'even-bg':!(idx%2),'active-item':selectedPreDispatch && preDispatch.id === selectedPreDispatch.id}">
              <div class="pre-dispatch-select" (click)="selectPreDispatches(preDispatch)">
                <div class="select-row float-left select-row-n-selected"><div class="select-row-input rounded-circle"></div></div>
                <div class="select-row float-left select-row-selected"><div class="select-row-input rounded-circle"><fa-icon [icon]="['fa','check']"></fa-icon></div></div>
              </div>
              <div class="pre-dispatch-name">{{preDispatch.name}}</div>
              <div class="pre-dispatch-code">{{preDispatch.code}}</div>
              <div class="clear-both"></div>
            </div>
          </ng-container>
        </ng-container>
      </div>

      <button class="integraa-btn float-right mt-3" (click)="changePreDispatch()">Pianifica</button>

    </div>
  </ng-container>



</div>


<!-- Modals -->

<ng-template #verylowmatchesModal let-modal>
  <div class="modal-container nFoundItemModal">
    <div class="modal-body">
      <div class="modal-warning-icon"><fa-icon class="text-warning modal-icon" [icon]="['fa','exclamation-circle']"></fa-icon></div>
      <h6 class="text-center">{{matchRateData.message}}</h6>
      <div class="btns-container mt-3">
        <button type="button" (click)="modal.close()" class="integraa-btn integraa-btn-dark ml-2 float-right" >OK</button>
        <div class="clear-both"></div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #lowmatchesModal let-modal>
  <div class="modal-container nFoundItemModal">
    <div class="modal-body">
      <h6 class="text-center">{{matchRateData.message}}</h6><hr>
      <div class="departureDate-input-container">
        <div class="row parameter-item">
          <div class="col-5"> <label>Giorno di Partenza</label> </div>
          <div class="col-7"> <input  [(ngModel)]="options2Data.departure_date" type="text" ngbDatepicker #timeOfServiceDP2="ngbDatepicker" (focus)="timeOfServiceDP2.toggle()" placeholder="YYYY-MM-DD" class="parameter-text-input"> </div>
        </div>
        <div class="row parameter-item">
          <div class="col-5"> <label>Ora di Partenza</label> </div>
          <div class="col-7">
            <input type="text" [(ngModel)]="options2Data.departure_time" class="parameter-text-input parameter-medium-input" placeholder="H:i" type="time" min="0" max="24">
          </div>
        </div>
      </div>
      <div class="btns-container mt-3">
        <button type="button" (click)="changePreDispatch(true, null, modal)" class="integraa-btn ml-2 float-right" >Send to Tab 1</button>
        <button type="button" (click)="changePreDispatch(true, 1, modal)" class="integraa-btn integraa-btn-confirm ml-2 float-right" >Rematch</button>
        <button type="button" (click)="changePreDispatch(true, 2, modal)" class="integraa-btn integraa-btn-success ml-2 float-right" >Manual Matche</button>
        <button type="button" (click)="modal.close()" class="integraa-btn integraa-btn-dark ml-2 float-right" >Cancel</button>
        <div class="clear-both"></div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #fullmatchesModal let-modal>
  <div class="modal-container nFoundItemModal">
    <div class="modal-body">
      <h6 class="text-center">Enter new Departure Date and Time</h6><hr>
      <div class="departureDate-input-container">
        <div class="row parameter-item">
          <div class="col-5"> <label>Giorno di Partenza</label> </div>
          <div class="col-7"> <input  [(ngModel)]="options2Data.departure_date" type="text" ngbDatepicker #timeOfServiceDP3="ngbDatepicker" (focus)="timeOfServiceDP3.toggle()" placeholder="YYYY-MM-DD" class="parameter-text-input"> </div>
        </div>
        <div class="row parameter-item">
          <div class="col-5"> <label>Ora di Partenza</label> </div>
          <div class="col-7">
            <input type="text" [(ngModel)]="options2Data.departure_time" class="parameter-text-input parameter-medium-input" placeholder="H:i" type="time" min="0" max="24">
          </div>
        </div>
      </div>
      <div class="btns-container mt-3">
        <button type="button" (click)="changePreDispatch(true, null, modal)" class="integraa-btn ml-2 float-right" >Save</button>
        <button type="button" (click)="modal.close()" class="integraa-btn integraa-btn-dark ml-2 float-right" >Cancel</button>
        <div class="clear-both"></div>
      </div>
    </div>
  </div>
</ng-template>