<div class="parameters-container">

  <!-- Section 1 -->
  <div class="parameters-section">
    <div class="parameters-section-title">Impostazioni Generali</div>
    <div class="row parameter-item">
      <div class="col-5"> <label>Giorno di Partenza</label> </div>
      <div class="col-7"> <input type="text" class="parameter-text-input"> </div>
    </div>
    <div class="row parameter-item">
      <div class="col-5"> <label>Ora di Partenza</label> </div>
      <div class="col-7"> <input type="text" class="parameter-text-input"> </div>
    </div>
    <div class="row parameter-item">
      <div class="col-5"> <label>Tempo di Servizio</label> </div>
      <div class="col-7"> <input type="text" class="parameter-text-input"> </div>
    </div>
    <div class="row parameter-item">
      <div class="col-5"> <label>Tempo di pauza</label> </div>
      <div class="col-7"> <input type="text" class="parameter-number-input"> Min.</div>
    </div>
    <div class="row parameter-item mt-0">
      <div class="col-5 pt-2"> <label>Modalità di viaggio</label> </div>
      <div class="col-7"> <ng-select class="integraa-select parameter-select-input"></ng-select> </div>
    </div>
  </div>


  <!-- Section 2  -->

  <div class="parameters-section">
    <div class="parameters-section-title">Postini multipli</div>
    <div class="row parameter-item mt-0">
      <div class="col-5 pt-2"> <label>Numero di Postini</label> </div>
      <div class="col-7"> <ng-select class="integraa-select parameter-select-input"></ng-select> </div>
    </div>
    <div class="row parameter-item">
      <div class="col-5"> <label>Ore di lavoro al gg.</label> </div>
      <div class="col-7"> <input type="text" class="parameter-number-input"> Ore. <input type="text" class="parameter-number-input"> Min.</div>
    </div>
    <div class="row parameter-item">
      <div class="col-5"> <label>Massimo di prodotti al gg.</label> </div>
      <div class="col-7"> <input type="text" class="parameter-text-input"> </div>
    </div>
    <div class="row parameter-item mt-0">
      <div class="col-5 pt-2"> <label>Consenti deviazione</label> </div>
      <div class="col-7"><ng-select class="integraa-select parameter-select-input"></ng-select></div>
    </div>
  </div>

  <!-- Section 3  -->

  <div class="parameters-section">
    <div class="parameters-section-title">Opzioni di Ottimizzazione</div>
    <div class="row parameter-item mt-0">
      <div class="col-5 pt-2"> <label>Obiettivo</label> </div>
      <div class="col-7"> <ng-select class="integraa-select parameter-select-input"></ng-select> </div>
    </div>
    <div class="row parameter-item mt-0">
      <div class="col-5 pt-2"> <label>Città mischiati</label> </div>
      <div class="col-7"><ng-select class="integraa-select parameter-select-input"></ng-select></div>
    </div>
    <div class="row parameter-item mt-0">
      <div class="col-5 pt-2"> <label>Percorso inizia</label> </div>
      <div class="col-7"><ng-select class="integraa-select parameter-select-input"></ng-select></div>
    </div>
  </div>

  <!-- Section 4  -->

  <div class="parameters-section">
    <div class="parameters-section-title">Operazione/Stampa</div>
    <div class="row parameter-item">
      <div class="col-5"> <label>Prendere in considerazione lavorazione di Stampa</label> </div>
      <div class="col-7"> <input type="checkbox"> </div>
    </div>
  </div>

  <!-- Submit section -->

  <div class="submit-section mt-3">
    <button class="integraa-btn float-right">Pianifica</button>
    <div class="clear-both"></div>
  </div>
</div>