.parameters-container{
    padding: 20px 10px;
    font-size: 13px;
    background-color: #ffffff;
    border-radius: 5px;
    height: 634px;
    overflow-y: scroll;
}
.parameters-section-title{
    border-bottom: 1px solid #333333;
    margin: 10px 0px;
}
.parameter-text-input, .parameter-number-input{
    width: 75%;
    padding: 2px 10px;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
}
.parameter-number-input {
    width: 70px;
}
.parameter-select-input{
    width: 75%;
}
.parameter-item{
    margin-top: 11px;
}
.parameter-small-input {
    width: 80px;
}
.parameter-medium-input {
    width: 120px;
}
.parameters-header-section {
    margin-bottom: 5px;
    width: 70%;
}

.all-pre-dispatches-select-section {
    text-align: left;
    font-weight: bold;
    padding: 0px 10px;
    border-bottom: 2px solid #b9b7b7;
    margin-bottom: 10px;
}

.select-row-input{
    width: 20px;
    height: 20px;
    border: 1px solid #333;
    cursor: pointer;
}
.select-row-selected {
    display: none;
}

.pre-dispatch-row {
    padding: 6px 10px;
}
.pre-dispatch-select{
    float: left;
    width: 20px;
}
.pre-dispatch-name {
    float: left;
    margin-left: 10px;
    width: calc( 30% - 30px );
}
.pre-dispatch-code {
    float: right;
    width: calc( 70% - 30px );
    text-align: right;
}
.search-box-container {
    padding: 0px 10px;
}
.active-item .select-row-n-selected {
    display: none;
}
.active-item .select-row-selected {
    display: block;
}
.select-row-selected .rounded-circle {
    text-align: center;
    font-size: 14px;
    background-color: #fcda4b;
}
.rect-loading-skeleton{
    border-radius: 0px;
}
.pre-dispatches-container {
    height: 420px;
    overflow-y: scroll;
}
.modal-warning-icon {
    font-size: 60px;
    text-align: center;
}
.departureDate-input-container{
    font-size: 14px;
}
.error-msg {
    color: red;
    font-size: 12px;
    margin-top: -8px;
}
.error-input {
    border: 1px solid red;
}