<ng-template #modalRef let-modal>
  <div class="modal-container">
    <div class="modal-body">
      <ng-container *ngIf="data.method === 'filters' &&  !filtersCount && !confirmed; else ActualModal" >
        <div class="no-filters-warning-message">
          {{'home.modals.pre_direct.filter_applied' | translate}}
        </div>
        <div class="btns-container mt-3">
          <button type="button" class="integraa-btn integraa-danger-btn ml-2 float-right" (click)="run()">{{'home.modals.pre_direct.run' | translate}}</button>
          <button type="button" class="integraa-btn bg-light float-right" (click)="modal.close()">{{'home.modals.pre_direct.go_out' | translate}}</button>
          <div class="clear-both"></div>
        </div>
      </ng-container>
      <ng-template #ActualModal>
        <h6>{{'home.modals.pre_direct.create_one' | translate}}</h6>
        <div *ngIf="data.method != 'filters'" class="selected-count-confirm">
          {{'home.modals.pre_direct.about_try' | translate}} <b>{{selectedCount}}</b>{{'home.modals.pre_direct.correct_quantity' | translate}}
        </div>

        <div class="" *ngIf="data.method === 'filters'">{{'home.modals.pre_direct.Confirm' | translate}} </div>

        <div class="btns-container mt-3">
          <button type="button" class="integraa-btn ml-2 float-right" (click)="run(modal)">{{'home.modals.pre_direct.run' | translate}}</button>
          <button type="button" class="integraa-btn bg-light float-right" (click)="modal.close()">{{'home.modals.pre_direct.go_out' | translate}}</button>
          <div class="clear-both"></div>
        </div>
      </ng-template>
    </div>
  </div>
</ng-template>
