<div class="table-container" [ngClass]="{'table-container-mid-height': mid_height}">
  <div class="table-head">
    <span>{{table.title | translate}}</span>
    <ng-container *ngIf="table.order">
      <div class="order-container">
        <div (click)="changeOrder('2')" [ngClass]="{'active-order': this.currentOrder === '2'}" class="order-desc order-btn"></div>
        <div (click)="changeOrder('1')" [ngClass]="{'active-order': this.currentOrder === '1'}" class="order-asc order-btn"></div>
      </div>
    </ng-container>
    <div *ngIf="pagination && pagination.total" class="header-qta">Q.t: {{pagination.total}}</div>
  </div>
  <div class="search-section">
    <app-search-box [placeholder]="table.searchPlaceHolder | translate" [value]="searchValue" (changed)="search($event)" ></app-search-box>
  </div>
  <div class="table-body" infiniteScroll (scrolled)="loadMore()" [scrollWindow]="false">
    <div class="item odd-bg flipInX animated" *ngIf="items && !table.custom" (click)="selectItem(null)" [ngClass]="{'active-item':_all_selected, 'custom': table.custom}">
      <ng-container [ngTemplateOutlet]="item_body" [ngTemplateOutletContext]="{item:{name:table.all_label ? table.all_label : 'Tutti',count:pagination.totalProduct},table:table}"></ng-container>
    </div>
    <ng-container *ngFor="let item of items; let idx = index">
      <div class="">
        <div class="item animated" [ngStyle]="item._style" (click)="selectItem(item, $event)" [ngClass]="{'odd-bg':(idx%2),'even-bg':!(idx%2),'active-item':selected[item.id], 'custom': table.custom, 'flipInX': !item._actions || !item._actions.length}">
          <ng-container [ngTemplateOutlet]="item_body" [ngTemplateOutletContext]="{item:item,table:table}"></ng-container>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="loading;then skeletons" ></ng-container>
  </div>
</div>

<ng-template #item_body let-item="item" let-table="table">
  <div *ngIf="!table.custom" class="select-row select-row-n-selected"><div class="select-row-input rounded-circle"></div></div>
  <div *ngIf="!table.custom" class="select-row select-row-selected"><div class="select-row-input rounded-circle"><fa-icon [icon]="['fa','check']"></fa-icon></div></div>
  <div *ngIf="table.icon" class="item-icon ml-2"><img class="item-icon-img" src="{{table.icon}}"></div>
  <div class="item-name ml-2 mt-1" [ngClass]="{'full-width': table.custom}">
    <ng-container *ngIf="item._on_action === 'rename'; else normalName">
      <input type="text" (click)="stopPropagation($event)" (keydown)="inputActionKeyDown($event)" class="rename-input" value="{{item[table.text] ? item[table.text] : item.name }}">
    </ng-container>
    <ng-template #normalName>{{item[table.text] ? item[table.text] : item.name }}</ng-template>
    <div class="extra-fields d-flex" *ngIf="table.extra_fields && item.id">
      <div class="extra-field-container" *ngFor="let field of table.extra_fields">
        <span class="extra-field-label">{{field.label |translate}}</span>
        <span class="extra-field-value">{{field.value(item) | translate}}</span>
      </div>
    </div>
  </div>
  <div class="item-qt mt-1" *ngIf="item.count !== undefined">Q.t: {{item.count+''}}</div>
  <div class="dropdown" id="actions-dropdown">
    <div *ngIf="item._actions && item._actions.length" class="actions-dropdown"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><fa-icon [icon]="['fa','sort-down']"></fa-icon></div>
    <div *ngIf="item._actions && item._actions.length" class="dropdown-menu">
      <ng-container *ngFor="let action of item._actions">
        <a class="dropdown-item small-text-dropdown-item" (click)="runAction(action, item)">{{action.label | translate}}</a>
      </ng-container>
    </div>
  </div>
</ng-template>

<ng-template #skeletons>
  <div class="">
    <div class="flipInX animated mt-1"> <div class="rect-loading-skeleton full-width border-radius-0 h-33"></div> </div>
    <div class="flipInX animated"> <div class="rect-loading-skeleton full-width border-radius-0 h-33"></div> </div>
    <div class="flipInX animated"> <div class="rect-loading-skeleton full-width border-radius-0 h-33"></div> </div>
    <div class="flipInX animated"> <div class="rect-loading-skeleton full-width border-radius-0 h-33"></div> </div>
    <div class="flipInX animated"> <div class="rect-loading-skeleton full-width border-radius-0 h-33"></div> </div>
  </div>
</ng-template>