<div class="table-container">
  <div class="table-head">
    <span>{{table.title}}</span>
    <ng-container *ngIf="table.order">
      <div class="order-container">
        <div (click)="changeOrder('2')" [ngClass]="{'active-order': this.currentOrder === '2'}" class="order-desc order-btn"></div>
        <div (click)="changeOrder('1')" [ngClass]="{'active-order': this.currentOrder === '1'}" class="order-asc order-btn"></div>
      </div>
    </ng-container>
    <div *ngIf="pagination && pagination.total" class="header-qta">Q.t: {{pagination.total}}</div>
  </div>
  <div class="search-section">
    <app-search-box [placeholder]="table.searchPlaceHolder" (changed)="search($event)" ></app-search-box>
  </div>
  <div class="table-body" infiniteScroll (scrolled)="loadMore()" [scrollWindow]="false">
    <div class="item odd-bg flipInX animated" *ngIf="items && !table.custom" (click)="selectItem(null)" [ngClass]="{'active-item':_all_selected, 'custom': table.custom}">
      <ng-container [ngTemplateOutlet]="item_body" [ngTemplateOutletContext]="{item:{name:'ALL',count:pagination.totalProduct},table:table}"></ng-container>
    </div>
    <ng-container *ngFor="let item of items; let idx = index">
      <div class="item flipInX animated" (click)="selectItem(item)" [ngClass]="{'odd-bg':(idx%2),'even-bg':!(idx%2),'active-item':isSelected(item), 'custom': table.custom}">
        <ng-container [ngTemplateOutlet]="item_body" [ngTemplateOutletContext]="{item:item,table:table}"></ng-container>
      </div>
    </ng-container>
    <ng-container *ngIf="loading;then skeletons" ></ng-container>
  </div>
</div>

<ng-template #item_body let-item="item" let-table="table">
  <div *ngIf="!table.custom" class="select-row float-left select-row-n-selected"><div class="select-row-input rounded-circle"></div></div>
  <div *ngIf="!table.custom" class="select-row float-left select-row-selected"><div class="select-row-input rounded-circle"><fa-icon [icon]="['fa','check']"></fa-icon></div></div>
  <div *ngIf="table.icon" class="item-icon float-left ml-2"><img class="item-icon-img" src="{{table.icon}}"></div>
  <div class="item-name ml-2 mt-1 float-left" [ngClass]="{'full-width': table.custom}">{{item.name}}</div>
  <div class="item-qt float-right mt-1" *ngIf="item.count !== undefined">Q.t: {{item.count+''}}</div>
  <div class="clear-both"></div>
</ng-template>

<ng-template #skeletons>
  <div class="">
    <div class="flipInX animated mt-1"> <div class="rect-loading-skeleton full-width border-radius-0 h-33"></div> </div>
    <div class="flipInX animated"> <div class="rect-loading-skeleton full-width border-radius-0 h-33"></div> </div>
    <div class="flipInX animated"> <div class="rect-loading-skeleton full-width border-radius-0 h-33"></div> </div>
    <div class="flipInX animated"> <div class="rect-loading-skeleton full-width border-radius-0 h-33"></div> </div>
    <div class="flipInX animated"> <div class="rect-loading-skeleton full-width border-radius-0 h-33"></div> </div>
  </div>
</ng-template>