<ng-template #modalRef let-modal>
  <div class="modal-container">
    <div class="modal-body">

      <!-- Actual body -->
      <ng-container *ngIf="!showConfirm; else ConfrimDialog">
        <h6>Modifica pre-distinta</h6>
        <div class="row mt-4">
          <div class="col-12 text-danger mb-2" *ngIf="error===1">Il nome è obbligatorio</div>
          <div class="col-12 text-danger mb-2" *ngIf="error===2">Il nome deve essere più di 3 caratteri</div>
          <div class="col-8 align-self-center">
            <label>Inserisci Nome Pre-Distinta</label>
            <input (change)="changeName($event)" value="{{name}}" type="text" class="form-control name-input" placeholder="Nome">
          </div>
        </div>
        <div class="btns-container mt-3">
          <button type="button" class="integraa-btn ml-2 float-right" (click)="run(modal)">Salva</button>
          <button type="button" class="integraa-btn bg-light float-right" (click)="confirmClose(modal)">Esci</button>
          <div class="clear-both"></div>
        </div>
      </ng-container>

      <!-- Confirm Dialog -->
      <ng-template #ConfrimDialog>
        <h6 class="text-warning ">Esci</h6>
        <div class="row mt-4">
          <h6 class="col-12 mb-2" >Sei sicuro di voler uscire?</h6>
        </div>
        <div class="btns-container mt-3">
          <button type="button" class="integraa-btn bg-warning ml-2 float-right" (click)="confirmClose(modal)">Si</button>
          <button type="button" class="integraa-btn bg-light float-right" (click)="showConfirm = false">No</button>
          <div class="clear-both"></div>
        </div>
      </ng-template>

    </div>
  </div>
</ng-template>
