<ng-template #modalRef let-modal>
  <div class="modal-container">
    <div class="modal-body">
      <h6>Pre-Distinte Uniti</h6>
      <div class="row mt-4">
        <div class="col-12 text-danger mb-2" *ngIf="error===1">Name is Required</div>
        <div class="col-12 text-danger mb-2" *ngIf="error===2">Name Should be at least 3 chars</div>
        <div class="col-8 align-self-center">
          <label>Enter Pre-dispatch Name</label>
          <input (change)="changeName($event)" type="text" class="form-control name-input" placeholder="Name">
        </div>
      </div>

      <div class="btns-container mt-3">
        <button type="button" class="integraa-btn ml-2 float-right" (click)="run(modal)">Esegui</button>
        <button type="button" class="integraa-btn bg-light float-right" (click)="modal.close()">Cancel</button>
        <div class="clear-both"></div>
      </div>
    </div>
  </div>
</ng-template>
