.modal-container{
    font-size: 13px;
    height: auto;
    width: 500px;
}
.name-input{
    height: 33px;
    font-size: 13px;
}
.selected-count-confirm {
    font-size: 12px;
    border: 1px solid #ced4da;
    padding: 5px;
    background-color: #f3f3f3;
    border-radius: 4px;
}