.settings-page{
    padding-right: 10px;
}
.settings-actual-page{
    background-color: #fff;
    height: calc( 100vh - 155px);
    margin-top: 5px;
    border-radius: 5px;
    padding: 20px 10px;
    overflow-y: scroll;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}
