.table-container{
    background-color: #fff;
}
.table-head{
    background-color: #222222;
    color: #feda44;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.table-body{
    height: 450px;
    overflow-y: scroll;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}
.table-body::-webkit-scrollbar { width: 0 !important }
.table-head-item{
    font-size: 11px;
    vertical-align: middle;
    font-weight: normal;
    line-height: 12px;
}
.table-item-cell{
    font-size: 11px;
    font-weight: 400;
    padding: 3px;
    vertical-align: middle;
    line-height: 13px;
}

.select-row{
    width: 15px;
    height: 15px;
    border: 1px solid #333;
}
.table-head .select-row {
    border: 1px solid #fff;
}
.table-head .separator{
    border-bottom: 1px dashed #fff;
}
.separator{
    border-bottom: 1px dashed #333;
    margin: 3px 0px;
}
.line-separator{
    border-bottom: 1px solid #d8daf2;
    margin: 1px 0px;
}
.border-left-white{
    border-left: 1px solid #fff;
}
.text-gray{
    color: #797979;
}
.marked{
    background-color: #feda44;
}
.action-icon{
    width: 20px;
    margin-top: 5px;
    cursor: pointer;
}

tbody,thead,tr{
    display: block;
    width: 100%;
}
td{
    word-break: break-all;
}
