<div class="planner-container" #PlannerContainer>
  <div class="addresses-container">

    <!-- The location,add btn, edit btn -->
    <div class="departure">
      <div class="location-container">
        <label class="d-block departure-label">Partenza</label>
        <!--Corso Italia 591, A - 80010 Villaricca (NA)-->
        <input type="text" #startPointTextInput class="location-input" value="{{preDispatchData.startPoint.text}}">
        <div class="location-actions">
          <img src="/assets/images/edit.svg" (click)="openChangeStartPointModal($event, ChangeStartPintModalRef)">
          <img src="/assets/images/plus.svg" (click)="openModal(CreateStartPintModalRef)">
        </div>
      </div>
    </div>

    <!-- groups -->
    <div class="groups mt-2">
      <div class="float-left group-cb found-cb">
        <input type="checkbox" (change)="filterChanged($event, 0)" class="integraa-checkbox">
        <label>Trovati ({{preDispatchData.fixedProductCount}})</label>
      </div>
      <div class="float-left group-cb not-found-cb">
        <input type="checkbox" (change)="filterChanged($event, 1)" class="integraa-checkbox">
        <label>Non Trovati ({{preDispatchData.notFixedProductCount}})</label>
      </div>
      <div class="float-left group-cb no-house-number-cb">
        <input type="checkbox" (change)="filterChanged($event, 2)" class="integraa-checkbox">
        <label>Senza numero civico ({{preDispatchData.withOutHouseNumber}})</label>
      </div>

      <div class="create-btn float-right">
        <button class="integraa-btn">Crea nuovo gruppo</button>
      </div>

      <div class="clear-both"></div>
    </div>


    <!-- Search -->
    <div class="search-container">
      <app-search-box [placeholder]="'Cerca indirizzo'" (changed)="searchTree($event)"></app-search-box>
    </div>

  </div>
  <div class="items mt-2">
    <div infiniteScroll (scrolled)="loadMore(tree[0], -1)" [scrollWindow]="true" >
      <ng-container *ngFor="let item of tree[0].children; let idx = index">
        <ng-container  [ngTemplateOutlet]="simpleItem" [ngTemplateOutletContext]="{idx: idx, item:item, next: idx+''}"></ng-container>
      </ng-container>
    </div>
  </div>


  <div class="arrival-container mt-3">
    <!-- Arrivo -->
    <div class="arrival">
      <div class="location-container">
        <label class="d-block departure-label">Arrivo</label>
        <input #endPointTextInput type="text" class="location-input" value="{{preDispatchData.endPoint.text}}">
        <div class="location-actions">
          <img src="/assets/images/edit.svg" (click)="openChangeEndPointModal($event, ChangeEndPintModalRef)">
          <img src="/assets/images/plus.svg" (click)="openModal(CreateEndPintModalRef)">
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Items  -->

<ng-template  let-item="item" let-idx="idx" let-next="next" #simpleItem>
  <ng-container *ngIf="item.skeleton; else actualItem">
    <div class="rect-loading-skeleton full-width schedule-skeleton"></div>
  </ng-container>
  <ng-template #actualItem >
      <!-- [ngClass]="{'odd-bg': (idx)%2, 'even-bg': !(idx%2)}" -->
    <div dndDropzone class="drop-area" (dndDrop)="onDrop($event, item)" [ngClass]="{'drop-location': isDropLocation(item), 'cant-drop-location': isNonDropLocation(item)}">
      <div [contextMenu]="contextMenu" [ngClass]="{'odd-bg': (getStepIdx(idx))%2}" [contextMenuSubject]="{node: item, next: next}" class="node {{idx}} {{getLvlClass(next)}} {{getStatusClass(item)}}">
        <div class="item-row">
          <div class="more" *ngIf="!item._end" (click)="listNode(item, next)">
            <fa-icon *ngIf="!item.expanded" [icon]="['fa','chevron-down']"></fa-icon>
            <fa-icon *ngIf="item.expanded" [icon]="['fa','chevron-up']"></fa-icon>
          </div>
          <div class="select-container" (click)="select(item)">
            <div class="selected" *ngIf="item.selected && !item.partiallySelected"><fa-icon [icon]="['fa','check']"></fa-icon></div>
            <div class="selected" *ngIf="item.partiallySelected"><fa-icon [icon]="['fa','minus']"></fa-icon></div>
            <div class="not-selected" *ngIf="!item.selected && !item.partiallySelected"><fa-icon [icon]="['fa','check']"></fa-icon></div>
          </div>
          <div class="marker-container">
            <div class="marker {{item.marker.color}}" [style.background]="item.marker.color" *ngIf="item.marker">{{item.marker.text}}</div>
          </div>
          <div class="text" #itemText>{{item.text}}</div>
          <div class="rename-input" #itemNameInput><input type="text" value="{{item.text}}" (change)="nameChanged($event, item, itemText, itemNameInput)"></div>
          <div class="right-side">
            <div class="warning" *ngIf="item.warning">!</div>
            <div class="qta" *ngIf="item.qta">Q.ta {{item.qta}}</div>
            <div class="small-more" id="actions-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><fa-icon [icon]="['fa','sort-down']"></fa-icon></div>
            <div class="dropdown-menu pointy-drop-down" aria-labelledby="actions-dropdown">
              <a class="dropdown-item" *ngIf="item.type === 'cityId' || item.type === 'streetId'" (click)="rename(itemText, itemNameInput)">Rename</a>
              <a class="dropdown-item" *ngIf="item.type === 'streetId'" (click)="openMergeStreetsModal(item, MergeStreetsMosal)">Merge</a>
              <a class="dropdown-item" *ngIf="item.type === 'building'" (click)="showElement(EditBuildingAddressContainer, [EditBuildingLatLngContainer])">Change Address</a>
              <a class="dropdown-item" *ngIf="item.type === 'building'" (click)="changeLocationOnMap(EditBuildingLatLngContainer, [EditBuildingAddressContainer])">Edit Location</a>
            </div>
          </div>
          <div class="clear-both"></div>
          <div #EditBuildingAddressContainer class="hidden">
            <div class="edit-building-address-container">
              <div class="edit-building-address-input"><app-address-input [_class]="'edit-building-input'" #EditBuildingAddressInput ></app-address-input></div>
              <div class="edit-building-address-submit"><fa-icon class="small-circle-btn" (click)="editBuildingAddress(EditBuildingAddressInput, item, EditBuildingAddressContainer)" [icon]="['fa','check-circle']"></fa-icon></div>
            </div>
            <div *ngIf="errors['editBuildingAddress-'+item.id]" class="error-msg building-error-msg">{{errors['editBuildingAddress-'+item.id]}}</div>
          </div>
          <div #EditBuildingLatLngContainer class="hidden">
            <div class="edit-building-address-container">
              <div class="edit-building-address-input d-flex">
                <input type="text" #EditBuildingLatInput placeholder="Lat" class="edit-location-lat-input">
                <input type="text" #EditBuildingLngInput placeholder="Lng" class="edit-location-lng-input">
              </div>
              <div class="edit-building-address-submit"><fa-icon class="small-circle-btn" (click)="editBuildingLocation(EditBuildingLatInput, EditBuildingLngInput, item, EditBuildingLatLngContainer)" [icon]="['fa','check-circle']"></fa-icon></div>
            </div>
            <div *ngIf="errors['editBuildingLocation-'+item.id]" class="error-msg building-error-msg">{{errors['editBuildingLocation-'+item.id]}}</div>
          </div>
        </div>
      </div>
      <ng-container *ngIf="item.expanded">
        <div infiniteScroll (scrolled)="loadMore(item, next)" [scrollWindow]="true" [infiniteScrollContainer]="PlannerContainer" infiniteScrollDistance="30">
          <ng-container *ngFor="let child of item.children; let i = index">
            <div (dndStart)="onDragStart($event, child)" [ngClass]="{'cursor-grab': isMovable(child)}" [dndEffectAllowed]="'move'" [dndDraggable]="{next: next+':'+i, id: child.id}" [dndDisableIf]="!isMovable(child)">
              <ng-container [ngTemplateOutlet]="simpleItem" [ngTemplateOutletContext]="{idx: idx+i+1, item:child, next: next+':'+i}"></ng-container>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </ng-template>
</ng-template>


<context-menu #contextMenu>
  <ng-template contextMenuItem [visible]="isMovable" (execute)="openMoveItemModal($event, MoveItemModalRef)">
    <div class="context-menu-item">
      <fa-icon class="text-warning modal-icon" [icon]="['fa','allergies']"></fa-icon>
      <span> Move Item </span>
    </div>
  </ng-template>
  <ng-template contextMenuItem  (execute)="reloadNode($event)">
    <div class="context-menu-item">
      <fa-icon class="text-warning" [icon]="['fa','sync']"></fa-icon>
      <span> Reload </span>
    </div>
  </ng-template>
</context-menu>

<ng-template  #MoveItemModalRef let-modal>
  <div class="modal-container nFoundItemModal">
    <div class="modal-body">
      <h6>
        <fa-icon class="text-warning modal-icon" [icon]="['fa','allergies']"></fa-icon>
        Move item to
      </h6>
      <div class="mt-3">
        <div class="form-group">
          <label class="modal-label">Change address</label>
          <ng-select #moveToSelect [clearable]="false" [bindLabel]="'name'" [items]="move_to_items" placeholder="Select Target"></ng-select>
        </div>
      </div>
      <div class="btns-container mt-3">
        <button type="button" (click)="modal.close();submitMoveItem(moveToSelect)" class="integraa-btn ml-2 float-right" >Esegui</button>
        <button type="button" (click)="modal.close();" class="integraa-btn integraa-btn-dark ml-2 float-right" >Cancel</button>
        <div class="clear-both"></div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template  #MergeStreetsMosal let-modal>
  <div class="modal-container nFoundItemModal">
    <div class="modal-body">
      <h6>
        <fa-icon class="text-warning modal-icon" [icon]="['fa','allergies']"></fa-icon>
        Merge Street With
      </h6>
      <div class="mt-3">
        <div class="form-group">
          <ng-select #mergeWithSelect [clearable]="false" [bindLabel]="'name'" [items]="merge_data.targets" placeholder="Select Street"></ng-select>
        </div>
      </div>
      <div class="btns-container mt-3">
        <button type="button" (click)="modal.close();submitMergeStreets(mergeWithSelect)" class="integraa-btn ml-2 float-right" >Esegui</button>
        <button type="button" (click)="modal.close();" class="integraa-btn integraa-btn-dark ml-2 float-right" >Cancel</button>
        <div class="clear-both"></div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #ChangeStartPintModalRef let-modal>
  <div class="modal-container nFoundItemModal">
    <div class="modal-body">
      <h6>
        <fa-icon class="text-warning modal-icon" [icon]="['fa','map-marker-alt']"></fa-icon>
        Change pre dispatch start point
      </h6>
      <div class="mt-3">
        <div class="form-group" *ngIf="!editingPoint['startPoint']">
          <label class="modal-label">Change start point</label>
          <div class="flex-container">
            <ng-select #StartPointSelect class="change-start-end-point-input" [clearable]="false" [bindLabel]="'text'" [items]="all_start_points" placeholder="Select Start Point"></ng-select>
            <div class="edit-start-end-point-btn"><img src="/assets/images/edit.svg" (click)="editPoint('startPoint', StartPointSelect)"></div>
          </div>
          <div class="btns-container mt-3">
            <button type="button" (click)="modal.close();submitChangeStartPoint(StartPointSelect)" class="integraa-btn ml-2 float-right" >Esegui</button>
            <button type="button" (click)="modal.close();" class="integraa-btn integraa-btn-dark ml-2 float-right" >Cancel</button>
            <div class="clear-both"></div>
          </div>
        </div>
        <div class="form-group" *ngIf="editingPoint['startPoint']">
          <label class="modal-label">Edit start point</label>
          <p class="small-note">editing this start point will cause editing it on all pre-dispatches</p>
          <div class="flex-container">
            <div class="edit-start-end-point-input"><app-address-input [point]="editingPoint['startPoint']" #EditStartPointInput ></app-address-input></div>
            <div class="cancel-edit-start-end-point-btn" (click)="cancelEditPoint('startPoint')">X</div>
          </div>
          <div *ngIf="errors['editStartPoint']" class="error-msg">{{errors['editStartPoint']}}</div>
          <div class="btns-container mt-3">
            <button type="button" (click)="submitEditStartPoint(EditStartPointInput)" class="integraa-btn ml-2 float-right" >Esegui</button>
            <button type="button" (click)="modal.close();" class="integraa-btn integraa-btn-dark ml-2 float-right" >Cancel</button>
            <div class="clear-both"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #ChangeEndPintModalRef let-modal>
  <div class="modal-container nFoundItemModal">
    <div class="modal-body">
      <h6>
        <fa-icon class="text-warning modal-icon" [icon]="['fa','map-marker-alt']"></fa-icon>
        Change pre dispatch end point
      </h6>
      <div class="mt-3">
        <div class="form-group" *ngIf="!editingPoint['endPoint']">
          <label class="modal-label">Change end point</label>
          <div class="flex-container">
            <ng-select #EndPointSelect class="change-start-end-point-input" [clearable]="false" [bindLabel]="'text'" [items]="all_end_points" placeholder="Select End Point"></ng-select>
            <div class="edit-start-end-point-btn"><img src="/assets/images/edit.svg" (click)="editPoint('endPoint', EndPointSelect)"></div>
          </div>
          <div class="btns-container mt-3">
            <button type="button" (click)="modal.close();submitChangeEndPoint(EndPointSelect)" class="integraa-btn ml-2 float-right" >Esegui</button>
            <button type="button" (click)="modal.close();" class="integraa-btn integraa-btn-dark ml-2 float-right" >Cancel</button>
            <div class="clear-both"></div>
          </div>
        </div>
        <div class="form-group" *ngIf="editingPoint['endPoint']">
          <label class="modal-label">Edit end point</label>
          <p class="small-note">editing this end point will cause editing it on all pre-dispatches</p>
          <div class="flex-container">
            <div class="edit-start-end-point-input"><app-address-input [point]="editingPoint['endPoint']" #EditEndPointInput ></app-address-input></div>
            <div class="cancel-edit-start-end-point-btn" (click)="cancelEditPoint('endPoint')">X</div>
          </div>
          <div *ngIf="errors['editEndPoint']" class="error-msg">{{errors['editEndPoint']}}</div>
          <div class="btns-container mt-3">
            <button type="button" (click)="submitEditEndPoint(EditEndPointInput)" class="integraa-btn ml-2 float-right" >Esegui</button>
            <button type="button" (click)="modal.close();" class="integraa-btn integraa-btn-dark ml-2 float-right" >Cancel</button>
            <div class="clear-both"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #CreateStartPintModalRef let-modal>
  <div class="modal-container nFoundItemModal">
    <div class="modal-body">
      <h6>
        <fa-icon class="text-warning modal-icon" [icon]="['fa','map-marked-alt']"></fa-icon>
        Create Start Point
      </h6>
      <div class="mt-3">
        <div class="form-group">
          <label class="modal-label">Start Point Address</label>
          <app-address-input #StartPontAddressInput></app-address-input>
          <div *ngIf="errors['createStartPoint']" class="error-msg">{{errors['createStartPoint']}}</div>
        </div>
      </div>
      <div class="btns-container mt-3">
        <button type="button" (click)="createStartPoint(StartPontAddressInput)" class="integraa-btn ml-2 float-right" >Esegui</button>
        <div class="clear-both"></div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #CreateEndPintModalRef let-modal>
  <div class="modal-container nFoundItemModal">
    <div class="modal-body">
      <h6>
        <fa-icon class="text-warning modal-icon" [icon]="['fa','map-marked-alt']"></fa-icon>
        Create End Point
      </h6>
      <div class="mt-3">
        <div class="form-group">
          <label class="modal-label">End Point Address</label>
          <app-address-input #EndPontAddressInput></app-address-input>
          <div *ngIf="errors['createEndPoint']" class="error-msg">{{errors['createEndPoint']}}</div>
        </div>
      </div>
      <div class="btns-container mt-3">
        <button type="button" (click)="createEndPoint(EndPontAddressInput)" class="integraa-btn ml-2 float-right" >Esegui</button>
        <div class="clear-both"></div>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #autoCompleteItemTemplate let-item>
  <a [innerHTML]="item.description"></a>
</ng-template>

<ng-template #autoCompleteNotFoundTemplate let-notFound>
  <div [innerHTML]="notFound"></div>
</ng-template>
