.planner-container{
    background-color: #fff;
    min-height: 634px;
    border-radius: 4px;
}
.addresses-container,.arrival-container{
    padding: 12px 20px;
}
.location-input{
    background-color: #f5f5f5;
    border-radius: 0px;
    font-size: 13px;
    height: 30px;
    border: 1px solid #D3D3D3;
    width: 84%;
    padding: 0px 10px;
    color: #444;
}
.location-container{
    /*padding: 0px 10px;*/
}
.location-actions{
    width: 15%;
    display: inline-block;
    margin-left: 1%;
}
.location-actions img{
    width: 20px;
    margin: 0px 5px;
    cursor: pointer;
}
.departure-label{
    font-size: 13px;
    margin: 0px;
    color: #212121;
    font-weight: 600;
}
/* groups */
.groups{
    font-size: 13px;
}
.group-cb{
    padding: 7px;
}
.group-cb label{
    margin-left: 3px;
}
.found-cb label{
    color: #298D40;
}
.not-found-cb label{
    color: #8D2727;
}

/* items */
.items{
    min-height: 360px;
}
.right-side{
    float: right;
}
.item-row .more, .item-row .select-container, .item-row .marker-container, .item-row .marker, .item-row .text, .item-row .warning, .item-row .qty, .item-row .small-more {
    display: inline-block;
}
.item-row .more{
    cursor: pointer;
}
.item-row {
    padding: 5px 10px;
    font-size: 13px;
}
.item-row .qta {
    display: inline-block;
    margin-right: 5px;
    font-weight: 600;
}
.item-row .select-container .selected, .item-row .select-container .not-selected, .item-row .marker {
    width: 21px;
    height: 21px;
    border-radius: 20px;
    margin: 0px 5px;
    font-size: 13px;
    text-align: center;
    padding: 0px 0px;
}
.item-row .select-container .selected{
    background-color: #fcda4b;
    border: 1px solid #fcda4b ;
    color: #000000;
}
.item-row .select-container .not-selected{
    background-color: #fff;
    border: 1px solid #444 ;
    color: #fff;
}
.item-row .marker{
    background-color: #000000;
    border: 1px solid #000000;
    color: white;
     margin-left: 10px;
    font-size: 11px;
    padding: 1.3px 0px;
    font-weight: 600;
    vertical-align: middle;
}
.item-row .text {
    font-size: 13px;
    padding-left: 5px;
    font-weight: 500;
}
.item-row .warning {
    background-color: #8D2727;
    border-radius: 20px;
    color: white;
    width: 20px;
    height: 20px;
    font-size: 13px;
    text-align: center;
    font-weight: 600;
    margin: 0px 10px;
}


/* lvl-2 */
.lvl-2{
    padding-left: 14px;
}
.lvl-2 .item-row .select-container .selected, .lvl-2 .item-row .select-container .not-selected{
    width: 18px;
    height: 18px;
    font-size: 12px;
}
/* lvl-3 */
.lvl-3{
    padding-left: 33px;
}

.lvl-3 .item-row .select-container .selected, .lvl-3 .item-row .select-container .not-selected{
    width: 15px;
    height: 15px;
    font-size: 10px;
}
.lvl-3 .item-row {
    padding: 3px 10px;
}
    /* lvl-4 */
.lvl-4{
    padding-left: 43px;
}
.lvl-4 .item-row .select-container .selected, .lvl-4 .item-row .select-container .not-selected{
    width: 15px;
    height: 15px;
    font-size: 10px;
}
.lvl-4 .item-row {
    padding: 3px 10px;
}
/* lvl-5 */

.lvl-5{
    padding-left: 80px;
}
.lvl-5 .item-row .select-container .selected, .lvl-5 .item-row .select-container .not-selected{
    width: 15px;
    height: 15px;
    font-size: 10px;
}
.lvl-5 .item-row {
    padding: 3px 10px;
}


/* Statuses */

.status-1 .item-row .text{
    text-decoration: line-through;
}
.status-2 {
    background-color: #8d2827 !important;
    color: #ffffff;
}