<div class="planner-container">
  <div class="addresses-container">

    <!-- The location,add btn, edit btn -->
    <div class="departure">
      <div class="location-container">
        <label class="d-block departure-label">Partenza</label>
        <input type="text" class="location-input" value="Corso Italia 591, A - 80010 Villaricca (NA)">
        <div class="location-actions">
          <img src="/assets/images/edit.svg">
          <img src="/assets/images/plus.svg">
        </div>
      </div>
    </div>

    <!-- groups -->
    <div class="groups mt-2">
      <div class="float-left group-cb found-cb">
        <input type="checkbox" class="integraa-checkbox">
        <label>Trovati (19)</label>
      </div>
      <div class="float-left group-cb not-found-cb">
        <input type="checkbox" class="integraa-checkbox">
        <label>Non Trovati (2)</label>
      </div>

      <div class="create-btn float-right">
        <button class="integraa-btn">Crea nuovo gruppo</button>
      </div>

      <div class="clear-both"></div>
    </div>


    <!-- Search -->
    <div class="search-container">
      <app-search-box [placeholder]="'Cerca indirizzo'"></app-search-box>
    </div>

  </div>
  <div class="items mt-2">
    <div infiniteScroll (scrolled)="loadMore(tree[0], -1)" [scrollWindow]="true" >
      <ng-container *ngFor="let item of tree[0].children; let idx = index">
        <ng-container  [ngTemplateOutlet]="simpleItem" [ngTemplateOutletContext]="{idx: idx, item:item, next: idx}"></ng-container>
      </ng-container>
    </div>
  </div>


  <div class="arrival-container mt-3">
    <!-- Arrivo -->
    <div class="arrival">
      <div class="location-container">
        <label class="d-block departure-label">Arrivo</label>
        <input type="text" class="location-input" value="Corso Italia 591, A - 80010 Villaricca (NA)">
        <div class="location-actions">
          <img src="/assets/images/edit.svg">
          <img src="/assets/images/plus.svg">
        </div>
      </div>
    </div>
  </div>

</div>
<!-- Items  -->


<ng-template  let-item="item" let-idx="idx" let-next="next" #simpleItem>
  <ng-container *ngIf="item.skeleton; else actualItem">
    <div class="rect-loading-skeleton full-width schedule-skeleton"></div>
  </ng-container>
  <ng-template #actualItem>
    <div [ngClass]="{'odd-bg': (idx)%2, 'even-bg': !(idx%2)}" class="{{getLvlClass(next)}} {{getStatusClass(item)}}">
      <div class="item-row">
        <div class="more" *ngIf="!item._end" (click)="listNode(item, next)">
          <fa-icon *ngIf="!expanded[next]" [icon]="['fa','chevron-down']"></fa-icon>
          <fa-icon *ngIf="expanded[next]" [icon]="['fa','chevron-up']"></fa-icon>
        </div>

        <div class="select-container">
          <div class="selected" *ngIf="item.selected"><fa-icon [icon]="['fa','check']"></fa-icon></div>
          <div class="not-selected" *ngIf="!item.selected"><fa-icon [icon]="['fa','check']"></fa-icon></div>
        </div>
        <div class="marker-container">
          <div class="marker" *ngIf="item.marker">{{item.marker}}</div>
        </div>
        <div class="text">{{item.text}}</div>
        <div class="right-side">
          <div class="warning" *ngIf="item.warning">!</div>
          <div class="qta" *ngIf="item.qta">Q.ta {{item.qta}}</div>
          <div class="small-more"><fa-icon [icon]="['fa','sort-down']"></fa-icon></div>
        </div>
        <div class="clear-both"></div>
      </div>
    </div>
  </ng-template>

  <ng-container *ngIf="expanded[next]">
    <div infiniteScroll (scrolled)="loadMore(item, next)" [scrollWindow]="true">
      <ng-container *ngFor="let child of item.children; let i = index">
        <ng-container [ngTemplateOutlet]="simpleItem" [ngTemplateOutletContext]="{idx: idx+i+1, item:child, next: next+':'+i}"></ng-container>
      </ng-container>
    </div>
  </ng-container>

</ng-template>