<div class="postmen-calender-container">

    <div class="date-value">{{data.date}}</div>

    <div class="calender-table">
        <ng-container *ngFor="let day of data.days; let idx = index">
            <div class="calender-day-col" *ngIf="idx < days.length">
                <div class="day-name day-row">{{days[idx]}}</div>
                <div class="day-number day-row">{{idx + 1}}</div>
                <div class="day-note day-row d-flex"><div class="note-text">{{day.note}}</div><div class="edit-icon" (click)="openEditDayNoteModal(day, idx)"><fa-icon [icon]="['fa','pen']"></fa-icon></div></div>
                <div class="day-attachment day-row d-flex"><a class="note-text text-truncate" href="#">{{day.attachment}}</a><div (click)="openEditDayAttachmentModal(day, idx)" class="edit-icon"><fa-icon [icon]="['fa','pen']"></fa-icon></div></div>
                <div class="day-part revisers-part">
                    <div class="occupied-revisers-sub-part day-sub-part">
                        <ng-container [ngTemplateOutlet]="data_set" [ngTemplateOutletContext]="{data:day.revisers.occupied,klass:'bg-green'}"></ng-container>
                    </div>
                    <div class="available-revisers-sub-part day-sub-part">
                        <ng-container [ngTemplateOutlet]="data_set" [ngTemplateOutletContext]="{data:day.revisers.available,klass:'bg-red'}"></ng-container>
                    </div>
                </div>

                <div class="day-part postmen-part mt-4">
                    <div class="occupied-postmen-sub-part day-sub-part">
                        <ng-container [ngTemplateOutlet]="data_set" [ngTemplateOutletContext]="{data:day.postmen.occupied,klass:'bg-green'}"></ng-container>
                    </div>
                    <div class="available-postmen-sub-part day-sub-part">
                        <ng-container [ngTemplateOutlet]="data_set" [ngTemplateOutletContext]="{data:day.postmen.available,klass:'bg-red'}"></ng-container>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>

</div>


<ng-template #data_set let-data="data" let-klass="klass">
    <div class="data-set occupied-set">
        <div class="data-set-header"> Revisori Occupati </div>
        <div class="data-set-body">
            <ng-container *ngFor="let row of data; let idx = index">
                <div class="data-set-row {{klass}}" [ngClass]="{'odd': idx%2, 'even': !(idx%2)}">
                    <div class="d-flex">
                        <div class="postman-icon"><img src="/assets/images/postman-icon.png"></div>
                        <div class="postman-name">{{row.name}}</div>
                        <div class="edit-icon pr-0" (click)="openEditPostmanNoteModal(row)"><fa-icon [icon]="['fa','pen']"></fa-icon></div>
                    </div>
                    <div class="postman-note">{{row.note}}</div>
                </div>
            </ng-container>

        </div>
    </div>
</ng-template>


<ng-template #editPostmanNoteModal let-modal>

    <div class="modal-container nFoundItemModal">
        <div class="modal-body">
            <h6 class="text-center">
                <fa-icon [icon]="['fa','pen']"></fa-icon> Set Postman ({{activepostman.name}}) Note
            </h6>
            <textarea #postmanNoteInput class="form-control mt-4" placeholder="Note">{{activepostman.note}}</textarea>
            <div class="btns-container mt-3">
                <button type="button" (click)="modal.close();savePostmanNote(postmanNoteInput)" class="integraa-btn ml-2 float-right" >Continua</button>
                <button type="button" (click)="modal.close();" class="integraa-btn ml-2 bg-light float-right" >Annulla</button>
                <div class="clear-both"></div>
            </div>
        </div>
    </div>

</ng-template>
<ng-template #editDayNoteModal let-modal>

    <div class="modal-container nFoundItemModal">
        <div class="modal-body">
            <h6 class="text-center">
                <fa-icon [icon]="['fa','pen']"></fa-icon> Set Day {{activeday._idx}} ({{days[activeday._idx]}}) Note
            </h6>
            <textarea #dayNoteInput class="form-control mt-4" placeholder="Note">{{activeday.note}}</textarea>
            <div class="btns-container mt-3">
                <button type="button" (click)="modal.close();saveDayNote(dayNoteInput)" class="integraa-btn ml-2 float-right" >Continua</button>
                <button type="button" (click)="modal.close();" class="integraa-btn ml-2 bg-light float-right" >Annulla</button>
                <div class="clear-both"></div>
            </div>
        </div>
    </div>

</ng-template>
<ng-template #editDayAttachmentModal let-modal>

    <div class="modal-container nFoundItemModal">
        <div class="modal-body">
            <h6 class="text-center">
                <fa-icon [icon]="['fa','pen']"></fa-icon> Set Day {{activeday._idx}} ({{days[activeday._idx]}}) Attachment
            </h6>
            <ngx-file-drop dropZoneLabel="Drop files here" [dropZoneClassName]="'drop-file-area'" (onFileDrop)="fileSelected($event)">
                <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                    <div>
                        <div class="drop-file-label" *ngIf="!selected_file"> <fa-icon [icon]="['fa', 'upload']"></fa-icon> Drop file here</div>
                        <div class="drop-file-label" *ngIf="selected_file"> {{selected_file.relativePath}} </div>
                        <button type="button" class="select-file-button mt-2" (click)="openFileSelector()">Browse Files</button>
                    </div>
                </ng-template>
            </ngx-file-drop>

            <div class="btns-container mt-3">
                <button type="button" (click)="modal.close();saveDayAttachment()" class="integraa-btn ml-2 float-right" >Continua</button>
                <button type="button" (click)="modal.close();clearSelectedFile()" class="integraa-btn ml-2 bg-light float-right" >Annulla</button>
                <div class="clear-both"></div>
            </div>
        </div>
    </div>

</ng-template>