<ng-container *ngIf="view==='week'">
    <div class="postmen-calender-container">

        <div class="date-value">
            <div class="single-day-date-switch-left" (click)="changeWeekIndex(-1)"><fa-icon [icon]="['fa', 'chevron-left']"></fa-icon></div>
            <div class="m-auto">{{formatted_date}}</div>
            <div class="single-day-date-switch-right" (click)="changeWeekIndex(1)"><fa-icon [icon]="['fa', 'chevron-right']"></fa-icon></div>
        </div>

        <div class="calender-table">
            <ng-container *ngFor="let day of data; let idx = index">
                <div class="calender-day-col" *ngIf="day.skeleton">
                    <div class="day-name day-row"><div class="rect-loading-skeleton w-90 h-30"></div></div>
                    <div class="day-number day-row"><div class="rect-loading-skeleton w-90 h-30"></div></div>
                    <div class="day-note day-row d-flex"><div class="note-text"><div class="rect-loading-skeleton w-90 h-30"></div></div></div>
                    <div class="day-attachment day-row d-flex"><a class="note-text text-truncate" href="#"><div class="rect-loading-skeleton w-90 h-30"></div></a></div>
                    <div class="day-part revisers-part">
                        <div class="occupied-revisers-sub-part day-sub-part">
                            <ng-container [ngTemplateOutlet]="data_set" [ngTemplateOutletContext]="{data:[{skeleton: true},{skeleton: true}],klass:'bg-green', title: 'Postman disponibili'}"></ng-container>
                        </div>
                        <div class="available-revisers-sub-part day-sub-part">
                            <ng-container [ngTemplateOutlet]="data_set" [ngTemplateOutletContext]="{data:[{skeleton: true},{skeleton: true}],klass:'bg-red', title: 'Postman occupati'}"></ng-container>
                        </div>
                    </div>
                </div>
                <div class="calender-day-col" *ngIf="!day.skeleton">
                    <div class="day-name day-row">{{day.dayName}}</div>
                    <div class="day-number day-row">{{day.dayNumber}}</div>
                    <div class="day-note day-row d-flex"><div *ngIf="day.note" class="note-text">{{day.note}}</div><div class="edit-icon" (click)="openEditDayNoteModal(day, idx)"><fa-icon [icon]="['fa','pen']"></fa-icon></div></div>
                    <div class="day-attachment day-row d-flex"><a *ngIf="day.file && day.file.path" class="note-text text-truncate" href="{{AppConfig.api_url + day.file.path}}" target="_blank">{{day.file.name}}</a><div (click)="openEditDayAttachmentModal(day, idx)" class="edit-icon"><fa-icon [icon]="['fa','pen']"></fa-icon></div></div>
                    <div class="day-part revisers-part">
                        <div class="occupied-revisers-sub-part day-sub-part">
                            <ng-container [ngTemplateOutlet]="data_set" [ngTemplateOutletContext]="{data:day.availablePostmen,day: day,klass:'bg-green', title: 'Postman disponibili', more: 'availablePostmen'}"></ng-container>
                        </div>
                        <div class="available-revisers-sub-part day-sub-part">
                            <ng-container [ngTemplateOutlet]="data_set" [ngTemplateOutletContext]="{data:day.postmen,day: day,klass:'bg-red', title: 'Postman occupati'}"></ng-container>
                        </div>
                    </div>

                    <!--<div class="day-part postmen-part mt-4">-->
                        <!--<div class="occupied-postmen-sub-part day-sub-part">-->
                            <!--<ng-container [ngTemplateOutlet]="data_set" [ngTemplateOutletContext]="{data:[],day: day,klass:'bg-green', title: 'Revisori disponibili'}"></ng-container>-->
                        <!--</div>-->
                        <!--<div class="available-postmen-sub-part day-sub-part">-->
                            <!--<ng-container [ngTemplateOutlet]="data_set" [ngTemplateOutletContext]="{data:[],day: dayklass:'bg-red', title: 'Revisori occupati'}"></ng-container>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </ng-container>
        </div>

    </div>
</ng-container>
<ng-container *ngIf="view==='day'">
    <div class="single-day-postmen-calender-container" *ngIf="data && data.length">
        <div class="single-day-header" *ngIf="!data[current_day].skeleton">
            <div class="single-day-date-switch">
                <div class="single-day-date-switch-left" (click)="changeCurrentDay(-1)"><fa-icon [icon]="['fa', 'chevron-left']"></fa-icon></div>
                <div class="single-day-date-switch-cinter">
                    <div class="single-day-date-value">{{data[current_day].dayDate}}</div>
                    <div>{{data[current_day].dayName}}</div>
                </div>
                <div class="single-day-date-switch-right" (click)="changeCurrentDay(1)"><fa-icon [icon]="['fa', 'chevron-right']"></fa-icon></div>
            </div>
            <div class="single-day-note-text">{{data[current_day].note}}</div><div class="edit-icon" (click)="openEditDayNoteModal(data[current_day], current_day)"><fa-icon [icon]="['fa','pen']"></fa-icon></div>
            <a *ngIf="data[current_day].file && data[current_day].file.path" href="{{AppConfig.api_url + data[current_day].file.path}}" target="_blank" class="single-day-attachment" ><img title="{{data[current_day].file.name}}" src="/assets/images/file_icon.svg"></a>
        </div>
        <div class="single-day-header" *ngIf="data[current_day].skeleton">
            <div class="rect-loading-skeleton w-100 h-30"></div>
        </div>
        <div class="d-flex">
            <div class="single-day-calender-table mt-2" [ngClass]="{'full-width-single-day-calender-table': !displayed_postman}">
                <div class="single-day-col" *ngIf="!data[current_day].skeleton">
                    <div class="day-part revisers-part">
                        <div class="occupied-revisers-sub-part day-sub-part">
                            <ng-container [ngTemplateOutlet]="data_set" [ngTemplateOutletContext]="{data:data[current_day].availablePostmen,day: data[current_day], klass:'bg-green', title: 'Postman disponibili', more: 'availablePostmen'}"></ng-container>
                        </div>
                        <div class="available-revisers-sub-part day-sub-part">
                            <ng-container [ngTemplateOutlet]="data_set" [ngTemplateOutletContext]="{data:data[current_day].postmen,day: data[current_day], klass:'bg-red', title: 'Postman occupati'}"></ng-container>
                        </div>
                    </div>
                    <!--<div class="day-part postmen-part mt-4">-->
                    <!--<div class="occupied-postmen-sub-part day-sub-part">-->
                    <!--<ng-container [ngTemplateOutlet]="data_set" [ngTemplateOutletContext]="{data:data[current_day].revisers.available,day: data[current_day], klass:'bg-green', title: 'Revisori disponibili'}"></ng-container>-->
                    <!--</div>-->
                    <!--<div class="available-postmen-sub-part day-sub-part">-->
                    <!--<ng-container [ngTemplateOutlet]="data_set" [ngTemplateOutletContext]="{data:data[current_day].revisers.occupied,day: data[current_day], klass:'bg-red', title: 'Revisori occupati'}"></ng-container>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
                <div class="single-day-col" *ngIf="data[current_day].skeleton">
                    <div class="day-part revisers-part">
                        <div class="occupied-revisers-sub-part day-sub-part">
                            <ng-container [ngTemplateOutlet]="data_set" [ngTemplateOutletContext]="{data:[{skeleton: true}, {skeleton: true}],klass:'bg-green', title: 'Postman disponibili'}"></ng-container>
                        </div>
                        <div class="available-revisers-sub-part day-sub-part">
                            <ng-container [ngTemplateOutlet]="data_set" [ngTemplateOutletContext]="{data:[{skeleton: true}, {skeleton: true}],klass:'bg-red', title: 'Postman occupati'}"></ng-container>
                        </div>
                    </div>

                    <!--<div class="day-part postmen-part mt-4">-->
                    <!--<div class="occupied-postmen-sub-part day-sub-part">-->
                    <!--<ng-container [ngTemplateOutlet]="data_set" [ngTemplateOutletContext]="{data:[{skeleton: true}, {skeleton: true}],klass:'bg-green', title: 'Revisori disponibili'}"></ng-container>-->
                    <!--</div>-->
                    <!--<div class="available-postmen-sub-part day-sub-part">-->
                    <!--<ng-container [ngTemplateOutlet]="data_set" [ngTemplateOutletContext]="{data:[{skeleton: true}, {skeleton: true}],klass:'bg-red', title: 'Revisori occupati'}"></ng-container>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
            <div *ngIf="displayed_postman" class="postman-info-table mt-2">
                <div *ngIf="!details">
                    <div class="rect-loading-skeleton w-100 h-30"></div>
                    <div class="rect-loading-skeleton w-100 h-30"></div>
                    <div class="rect-loading-skeleton w-100 h-30"></div>
                    <div class="rect-loading-skeleton w-100 h-30"></div>
                    <div class="rect-loading-skeleton w-100 h-30"></div>
                </div>
                <div *ngIf="details" class="postman-info-container">
                    <!--<div class="postman-info-row">-->
                    <!--<div class="postman-info-label">Distinta</div>-->
                    <!--<div class="postman-info-value">de-5x8659f896129-1103201911-35208</div>-->
                    <!--</div>-->
                    <div class="postman-info-row">
                        <div class="postman-info-label">Data creazione</div>
                        <div class="postman-info-value">{{details.createdAt}}</div>
                    </div>
                    <div class="postman-info-row">
                        <div class="postman-info-label">Data lavorazione</div>
                        <div class="postman-info-value">{{details.startedAt}}</div>
                    </div>
                    <div class="postman-info-row">
                        <div class="postman-info-label">Postino</div>
                        <div class="postman-info-value">{{details.postmanName}}</div>
                    </div>
                    <div class="postman-info-row">
                        <div class="postman-info-label">Quantita prodotti</div>
                        <div class="postman-info-value">{{details.quantity}} prodotti</div>
                    </div>
                    <div class="postman-info-row2">
                        <div class="postman-info-label">Specifica Consegna</div>
                        <div class="postman-info-value">
                            <div>
                                <span class="show-more-statuses-count" *ngIf="details.deliveredProducts.groups.length"  (click)="current_day_info.delivered_expanded = !current_day_info.delivered_expanded">
                                    <fa-icon [icon]="['fa', !current_day_info.delivered_expanded ? 'chevron-right' : 'chevron-down']"></fa-icon>
                                </span>
                                {{details.deliveredProducts.count}} Consegnati
                            </div>
                            <div class="statuses-counts-collabse pl-4" *ngIf="current_day_info.delivered_expanded">
                                <div *ngFor="let group of details.deliveredProducts.groups">{{group.key}}: {{group.value}}</div>
                            </div>
                            <div>
                                <span class="show-more-statuses-count"  *ngIf=" details.notDeliveredProducts.groups.length"  (click)="current_day_info.not_delivered_expanded = !current_day_info.not_delivered_expanded">
                                    <fa-icon [icon]="['fa', !current_day_info.not_delivered_expanded ? 'chevron-right' : 'chevron-down']"></fa-icon>
                                </span>
                                {{details.notDeliveredProducts.count}} Non Consegnati
                            </div>
                            <div class="statuses-counts-collabse pl-4" *ngIf="current_day_info.not_delivered_expanded">
                                <div *ngFor="let group of details.notDeliveredProducts.groups">{{group.key}}: {{group.value}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="postman-info-row2">
                        <div class="postman-info-label">Specifica Prodotti</div>
                        <div class="postman-info-value">
                            <div class="font-size-12px" *ngFor="let item of details.productsByCategories">
                                {{item.key}}: {{item.value}}
                            </div>
                        </div>
                    </div>
                    <div class="postman-info-row2">
                        <div class="postman-info-label">Specifica Distribuzione</div>
                        <ul class="postman-info-value ml-3">
                            <li class="font-size-12px" *ngFor="let item of details.productsByAddresses">
                                {{item.key}} - {{item.value}} Prodotti
                            </li>
                        </ul>
                    </div>
                    <div class="postman-info-row2">
                        <div class="postman-info-label">Operatore che prepara la borsa</div>
                        <ng-select class="integraa-select" [bindLabel]="'name'" [items]="availableUsers" [(ngModel)]="details.user" [clearable]="false" (change)="assignToUser($event)"></ng-select>
                    </div>
                    <div class="postman-info-row2">
                        <div class="postman-info-label">Esito preparazione borsa</div>
                        <ng-select class="integraa-select" [bindLabel]="'name'" [items]="detailsStatuses" [(ngModel)]="details.status" [clearable]="false" (change)="detailsStatusChanged($event)"></ng-select>
                    </div>
                    <div class="notes postman-info-row2 mt-3">
                        <app-comments title="Note interne" [comments]="details.internalNotes" (commentAdded)="addSetInternalNote($event)"></app-comments>
                    </div>
                    <div class="postman-notifications postman-info-row2 mt-3">
                        <app-comments title="Notifica per postino" [comments]="details.postmanNotes"></app-comments>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="postmen-calender-container no-data-postmen-calender-container" *ngIf="!data"></div>
</ng-container>

<!-- Templates -->
<ng-template #data_set let-data="data" let-more='more' let-day='day' let-klass="klass" let-title="title">
    <div class="data-set occupied-set">
        <div class="data-set-header">{{title}}</div>
        <div class="data-set-body">
            <ng-container *ngFor="let row of data; let idx = index">
                <div *ngIf="row.skeleton"><div class="rect-loading-skeleton mt-2 w-90 h-30"></div></div>
                <div *ngIf="!row.skeleton" class="data-set-row {{klass}}" (click)="displayedPostman(row.set_id_for_this_day, day.dayDate)" [ngClass]="{'odd': idx%2, 'even': !(idx%2), 'clickable-item': row.set_id_for_this_day, 'selected-item': row.set_id_for_this_day && displayed_postman === row.set_id_for_this_day}">
                    <div class="d-flex">
                        <div class="postman-icon"><img src="/assets/images/postman-icon.png"></div>
                        <div class="postman-name">{{row.full_name}}</div>
                        <div class="edit-icon pr-0" (click)="openEditPostmanNoteModal($event, row, day)"><fa-icon [icon]="['fa','pen']"></fa-icon></div>
                    </div>
                    <div class="postman-note">{{row.note}}</div>
                </div>
            </ng-container>
            <div *ngIf="data.length > 4 && more" class="data-set-row {{klass}} more-button" (click)="showMore(day, more)" [ngClass]="{'odd': data.length%2, 'even': !(data.length%2)}">
                More
            </div>
        </div>
    </div>
</ng-template>


<!-- Modals -->
<ng-template #editPostmanNoteModal let-modal>

    <div class="modal-container nFoundItemModal">
        <div class="modal-body">
            <h6 class="text-center">
                <fa-icon [icon]="['fa','pen']"></fa-icon> Set Postman ({{activepostman.name}}) Note
            </h6>
            <textarea #postmanNoteInput class="form-control mt-4" placeholder="Note">{{activepostman.note}}</textarea>
            <div class="btns-container mt-3">
                <button type="button" (click)="modal.close();savePostmanNote(postmanNoteInput)" class="integraa-btn ml-2 float-right" >Continua</button>
                <button type="button" (click)="modal.close();" class="integraa-btn ml-2 bg-light float-right" >Annulla</button>
                <div class="clear-both"></div>
            </div>
        </div>
    </div>

</ng-template>
<ng-template #editDayNoteModal let-modal>

    <div class="modal-container nFoundItemModal">
        <div class="modal-body">
            <h6 class="text-center">
                <fa-icon [icon]="['fa','pen']"></fa-icon> Set Day {{activeday._idx}} ({{days[activeday._idx]}}) Note
            </h6>
            <textarea #dayNoteInput class="form-control mt-4" placeholder="Note">{{activeday.note}}</textarea>
            <div class="btns-container mt-3">
                <button type="button" (click)="modal.close();saveDayNote(dayNoteInput)" class="integraa-btn ml-2 float-right" >Continua</button>
                <button type="button" (click)="modal.close();" class="integraa-btn ml-2 bg-light float-right" >Annulla</button>
                <div class="clear-both"></div>
            </div>
        </div>
    </div>

</ng-template>
<ng-template #editDayAttachmentModal let-modal>

    <div class="modal-container nFoundItemModal">
        <div class="modal-body">
            <h6 class="text-center">
                <fa-icon [icon]="['fa','pen']"></fa-icon> Set Day {{activeday._idx}} ({{days[activeday._idx]}}) Attachment
            </h6>
            <ngx-file-drop dropZoneLabel="Drop files here" [dropZoneClassName]="'drop-file-area'" (onFileDrop)="fileSelected($event)">
                <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                    <div>
                        <div class="drop-file-label" *ngIf="!selected_file"> <fa-icon [icon]="['fa', 'upload']"></fa-icon> Drop file here</div>
                        <div class="drop-file-label" *ngIf="selected_file"> {{selected_file.relativePath}} </div>
                        <button type="button" class="select-file-button mt-2" (click)="openFileSelector()">Browse Files</button>
                    </div>
                </ng-template>
            </ngx-file-drop>

            <div class="btns-container mt-3">
                <button type="button" (click)="modal.close();saveDayAttachment()" class="integraa-btn ml-2 float-right" >Continua</button>
                <button type="button" (click)="modal.close();clearSelectedFile()" class="integraa-btn ml-2 bg-light float-right" >Annulla</button>
                <div class="clear-both"></div>
            </div>
        </div>
    </div>

</ng-template>
<ng-template #showMoreAvailablePostmenModal let-modal>

    <div class="modal-container nFoundItemModal">
        <div class="modal-body">
            <h6 class="text-center">
                Available Postmen.
            </h6>
            <div class="data-set-body show-more-body" infiniteScroll (scrolled)="showEvenMore()" [scrollWindow]="false">
                <ng-container *ngFor="let row of moreData; let idx = index">
                    <div *ngIf="row.skeleton"><div class="rect-loading-skeleton mt-2 w-90 h-30 ml-auto mr-auto d-block"></div></div>
                    <div *ngIf="!row.skeleton" class="data-set-row" (click)="displayedPostman(row.set_id_for_this_day)" [ngClass]="{'odd': idx%2, 'even': !(idx%2)}">
                        <div class="d-flex">
                            <div class="postman-icon"><img src="/assets/images/postman-icon.png"></div>
                            <div class="postman-name">{{row.full_name}}</div>
                            <div class="edit-icon pr-0" (click)="openEditPostmanNoteModal($event, row, day)"><fa-icon [icon]="['fa','pen']"></fa-icon></div>
                        </div>
                        <div class="postman-note">{{row.note}}</div>
                    </div>
                </ng-container>
            </div>
            <div class="btns-container mt-3">
                <button type="button" (click)="closeShowMoreModal(modal)" class="integraa-btn ml-2 float-right" >OK</button>
                <div class="clear-both"></div>
            </div>
        </div>
    </div>

</ng-template>