.postmen-calender-container {
    width: 100%;
    height: calc(100vh - 100px);
    background-color: #FFF;
    border-radius: 5px;
    padding: 10px;
    overflow-x: scroll;
    scrollbar-width: thin;
    font-size: 13px;
}
.postmen-calender-container::-webkit-scrollbar-thumb {
    background-color: #C1BEBC;
    outline: 1px solid slategrey;
    border-radius: 4px;
}
.postmen-calender-container::-webkit-scrollbar {
    width: 5px;
}
.date-value {
    text-align: center;
    font-size: 14px;
    padding: 5px 0px 15px 0px;
}
.calender-table {
    display: flex;
    width: 100%;
    border: 1px solid #F3F3F3;
    text-align: center;
}
.calender-day-col {
    flex: 0 0 14.28%;
    width: 14.28%;
    border-right: 1px solid #F3F3F3;
}
.day-row {
    padding: 7px 0px;
    border-bottom: 1px solid #F3F3F3;
    word-break: break-all;
}
.day-note, .day-attachment {
    font-size: 12px;
    line-height: 16px;
}
.note-text {
    flex: 1;
    padding: 0px 5px;
}
.edit-icon {
    padding-right: 5px;
    cursor: pointer;
    font-size: 10px;
    margin: auto;
}
.edit-icon:hover {
    color: #fcda4b;
}
/* data set */
.data-set-header {
    padding: 5px;
    background-color: #222222;
    color: #feda44;
}
.data-set-row {
    padding: 4px 6px;
}
.postman-note {
    text-align: left;
    font-size: 12px;
    line-height: 16px;
}
.postman-name {
    margin: auto 3px;
    flex: 1;
    text-align: left;
    max-width: 60%;
    word-break: break-all;
}

.odd.bg-green {
    background: #35781b;
}
.even {
    background: #dfdfdf;
}
.even.bg-green {
    background: #429223;
}
.odd {
    background: #f1f1f1;
}
.odd.bg-red {
    background: #ce464c;
}
.even.bg-red {
    background: #c02c27;
}

.day-part{
    display: block;
}

/* single day */
.postman-info-content {
    height: calc(100% - 55px);;
}
.single-day-header {
    display: flex;
    padding: 5px 10px;
}
.single-day-date-switch {
    max-width: 20%;
    flex: 0 0 20%;
    margin: auto 0px;
    display: flex;
}
.single-day-note-text {
    flex: 1;
    margin: auto;
}
.single-day-attachment img{
    width: 30px;
}
.single-day-date-value {
    font-size: 15px;
}
.single-day-date-switch-left, .single-day-date-switch-right {
    margin: auto;
    cursor: pointer;
}
.disabled-day-change {
    color: #666666;
    cursor: auto;
}
.single-day-calender-table{
    overflow-y: scroll;
    height: 100%;
    max-width: 65%;
    flex: 0 0 65%;
    scrollbar-width: thin;
}
.single-day-calender-table::-webkit-scrollbar-thumb {
    background-color: #C1BEBC;
    outline: 1px solid slategrey;
    border-radius: 4px;
}
.single-day-calender-table::-webkit-scrollbar {
    width: 5px;
}
.full-width-single-day-calender-table {
    max-width: 100% !important;
    flex: 0 0 100%;
}

/* Postman Info */
.postman-info-table {
    flex: 0 0 35%;
    max-width: calc(35% - 4px);
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: thin;
    padding: 4px;
    margin-left: 4px;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
}
.postman-info-table::-webkit-scrollbar-thumb {
    background-color: #C1BEBC;
    outline: 1px solid slategrey;
    border-radius: 4px;
}
.postman-info-table::-webkit-scrollbar {
    width: 5px;
}
.postman-info-row {
    display: flex;
    margin-top: 5px;
}
.postman-info-row2 {
    margin-top: 5px;
}
.postman-info-label {
    font-weight: bold;
}
.postman-info-value {
    margin-left: 10px;
    word-break: break-all;
    padding: 0px;
}
.show-more-statuses-count {
    cursor: pointer;
}
.font-size-12px{
    font-size: 12px !important;
}
.more-button {
    cursor: pointer;
}
.show-more-body {
    height: 70vh;
    overflow-y: scroll;
}