<ng-container *ngIf="view==='week'">
    <div class="postmen-calender-container">

        <div class="date-value">
            <div class="single-day-date-switch-left" (click)="changeWeekIndex(-1)"><fa-icon [icon]="['fa', 'chevron-left']"></fa-icon></div>
            <div class="m-auto">{{formatted_date | translate}}</div>
            <div class="single-day-date-switch-right" (click)="changeWeekIndex(1)"><fa-icon [icon]="['fa', 'chevron-right']"></fa-icon></div>
        </div>

        <div class="calender-table">

            <div class="calender-row">
                <ng-container *ngFor="let i of week_range">
                    <div class="day-name calender-col" *ngIf="!data[i].skeleton">{{data[i].dayName}}</div>
                    <div *ngIf="data[i].skeleton" class="rect-loading-skeleton m-2  h-30"></div>
                </ng-container>
            </div>
            <div class="calender-row">
                <ng-container *ngFor="let i of week_range">
                    <div class="day-number calender-col" *ngIf="!data[i].skeleton">{{data[i].dayNumber}}</div>
                    <div *ngIf="data[i].skeleton" class="rect-loading-skeleton m-2  h-30"></div>
                </ng-container>
            </div>
            <div class="calender-row">
                <ng-container *ngFor="let i of week_range">
                    <div *ngIf="!data[i].skeleton" class="day-note calender-col d-flex"><div *ngIf="data[i].note" class="note-text">{{data[i].note}}</div><div class="edit-icon" (click)="openEditDayNoteModal(data[i], i)"><fa-icon ngbTooltip="Nota giorno" [icon]="['fa','pen']"></fa-icon></div></div>
                    <div *ngIf="data[i].skeleton" class="rect-loading-skeleton m-2  h-30"></div>
                </ng-container>
            </div>
            <div class="calender-row">
                <ng-container *ngFor="let i of week_range">
                    <div *ngIf="!data[i].skeleton" class="day-attachment calender-col d-flex"><a *ngIf="data[i].file && data[i].file.path" class="note-text text-truncate" href="{{AppConfig.api_url + data[i].file.path}}" target="_blank">{{data[i].file.name}}</a><div (click)="openEditDayAttachmentModal(data[i], i)" class="edit-icon"><fa-icon  ngbTooltip="Carica file" [icon]="['fa','upload']"></fa-icon></div></div>
                    <div *ngIf="data[i].skeleton" class="rect-loading-skeleton m-2  h-30"></div>
                </ng-container>
            </div>

            <div class="data-part available-postmen">
                <div class="calender-row">
                    <ng-container *ngFor="let i of week_range">
                        <div class="data-set-header calender-col">{{'shared.postmen_calendar.postman_available'|translate}}</div>
                    </ng-container>
                </div>
                <ng-container [ngTemplateOutlet]="data_row" [ngTemplateOutletContext]="{data: data, more: true, klass:'bg-green', key: 'availablePostmen'}"></ng-container>
            </div>

            <div class="data-part not-available-postmen">
                <div class="calender-row">
                    <ng-container *ngFor="let i of week_range">
                        <div class="data-set-header calender-col">{{'shared.postmen_calendar.busy_postman'|translate}}</div>
                    </ng-container>
                </div>
                <ng-container [ngTemplateOutlet]="data_row" [ngTemplateOutletContext]="{data: data, klass:'bg-red', key: 'postmen'}"></ng-container>
            </div>

            <div class="data-part not-available-postmen">
                <div class="calender-row">
                    <ng-container *ngFor="let i of week_range">
                        <div class="data-set-header calender-col">{{'shared.postmen_calendar.reviewers_available'|translate}}</div>
                    </ng-container>
                </div>
                <ng-container [ngTemplateOutlet]="data_row" [ngTemplateOutletContext]="{data: data, more: true, klass:'bg-green', key: 'availableRevisore'}"></ng-container>
            </div>

            <div class="data-part not-available-postmen">
                <div class="calender-row">
                    <ng-container *ngFor="let i of week_range">
                        <div class="data-set-header calender-col">{{'shared.postmen_calendar.busy_auditors'|translate}}</div>
                    </ng-container>
                </div>
                <ng-container [ngTemplateOutlet]="data_row" [ngTemplateOutletContext]="{data: data, klass:'bg-red', key: 'revisore'}"></ng-container>
            </div>


            <ng-template #data_row let-data="data" let-more='more' let-klass="klass" let-key="key">
                <!-- Body Rows -->
                <ng-container *ngFor="let t of data_sizes[key]; let j = index">
                    <div class="data-row calender-row">
                        <ng-container *ngFor="let i of week_range">
                            <div *ngIf="!data[i].skeleton && data[i][key][j]" class="calender-col {{klass}}" (click)="displayedPostman(data[i][key][j].set_id_for_this_day, data[i].dayDate)" [ngClass]="{'odd': j%2, 'even': !(j%2), 'clickable-item': data[i][key][j].set_id_for_this_day, 'selected-item': data[i][key][j].set_id_for_this_day && displayed_postman === data[i][key][j].set_id_for_this_day}">
                                <div class="d-flex">
                                    <div class="postman-icon"><img src="/assets/images/postman-icon.png"></div>
                                    <div class="postman-name">{{data[i][key][j].full_name}}</div>
                                    <div class="edit-icon pr-0" (click)="openEditPostmanNoteModal($event, data[i][key][j], data[i])"><fa-icon ngbTooltip="Nota distinta" [icon]="['fa','pen']"></fa-icon></div>
                                </div>
                                <div class="postman-note">{{data[i][key][j].note}}</div>
                            </div>
                            <div *ngIf="!data[i].skeleton && !data[i][key][j]" class="calender-col"></div>
                            <div *ngIf="data[i].skeleton" class="rect-loading-skeleton m-2  h-30"></div>
                        </ng-container>
                    </div>
                </ng-container>

                <div *ngIf="more" class="calender-row">
                    <ng-container *ngFor="let i of week_range">
                        <!-- Footer Row -->
                        <div *ngIf="!data[i].skeleton" class="calender-col more-button {{klass}}" (click)="showMore(data[i], key)" [ngClass]="{'odd': true, 'even': !(true)}">
                            {{'shared.postmen_calendar.more'|translate}}
                        </div>
                    </ng-container>
                </div>
            </ng-template>
        </div>

    </div>
</ng-container>
<ng-container *ngIf="view==='day'">
    <div class="single-day-postmen-calender-container" *ngIf="data && data.length">
        <div class="single-day-header" *ngIf="!data[current_day].skeleton">
            <div class="single-day-date-switch">
                <div class="single-day-date-switch-left" (click)="changeCurrentDay(-1)"><fa-icon [icon]="['fa', 'chevron-left']"></fa-icon></div>
                <div class="single-day-date-switch-cinter">
                    <div class="single-day-date-value">{{data[current_day].dayDate}}</div>
                    <div>{{data[current_day].dayName | translate}}</div>
                </div>
                <div class="single-day-date-switch-right" (click)="changeCurrentDay(1)"><fa-icon [icon]="['fa', 'chevron-right']"></fa-icon></div>
            </div>
            <div class="single-day-note-text">{{data[current_day].note}}</div><div class="edit-icon" (click)="openEditDayNoteModal(data[current_day], current_day)"><fa-icon ngbTooltip="Nota giorno" [icon]="['fa','pen']"></fa-icon></div>
            <a *ngIf="data[current_day].file && data[current_day].file.path" href="{{AppConfig.api_url + data[current_day].file.path}}" target="_blank" class="single-day-attachment" ><img title="{{data[current_day].file.name}}" src="/assets/images/file_icon.svg"></a>
        </div>
        <div class="single-day-header" *ngIf="data[current_day].skeleton">
            <div class="rect-loading-skeleton w-100 h-30"></div>
        </div>
        <div class="d-flex">
            <div class="single-day-calender-table mt-2" [ngClass]="{'full-width-single-day-calender-table': !displayed_postman}">
                <div class="single-day-col" *ngIf="!data[current_day].skeleton">
                    <div class="day-part revisers-part">
                        <div class="occupied-revisers-sub-part day-sub-part">
                            <ng-container [ngTemplateOutlet]="data_set" [ngTemplateOutletContext]="{data:data[current_day].availablePostmen,day: data[current_day], klass:'bg-green', title: 'shared.postmen_calendar.postman_available_title', more: 'availablePostmen'}"></ng-container>
                        </div>
                        <div class="available-revisers-sub-part day-sub-part">
                            <ng-container [ngTemplateOutlet]="data_set" [ngTemplateOutletContext]="{data:data[current_day].postmen,day: data[current_day], klass:'bg-red', title: 'shared.postmen_calendar.busy_postman_title'}"></ng-container>
                        </div>
                    </div>
                    <div class="day-part postmen-part mt-4">
                        <div class="occupied-postmen-sub-part day-sub-part">
                            <ng-container [ngTemplateOutlet]="data_set" [ngTemplateOutletContext]="{data:data[current_day].availableRevisore,day: data[current_day], klass:'bg-green', title: 'shared.postmen_calendar.postman_available_title'}"></ng-container>
                        </div>
                        <div class="available-postmen-sub-part day-sub-part">
                            <ng-container [ngTemplateOutlet]="data_set" [ngTemplateOutletContext]="{data:data[current_day].revisore ? data[current_day].revisore : [],day: data[current_day], klass:'bg-red', title: 'shared.postman_calender.busy_evisers_title'}"></ng-container>
                        </div>
                    </div>
                </div>
                <div class="single-day-col" *ngIf="data[current_day].skeleton">
                    <div class="day-part revisers-part">
                        <div class="occupied-revisers-sub-part day-sub-part">
                            <ng-container [ngTemplateOutlet]="data_set" [ngTemplateOutletContext]="{data:[{skeleton: true}, {skeleton: true}],klass:'bg-green', title: 'shared.postmen_calendar.postman_available_title'}"></ng-container>
                        </div>
                        <div class="available-revisers-sub-part day-sub-part">
                            <ng-container [ngTemplateOutlet]="data_set" [ngTemplateOutletContext]="{data:[{skeleton: true}, {skeleton: true}],klass:'bg-red', title: 'shared.postmen_calendar.busy_postman_title'}"></ng-container>
                        </div>
                    </div>

                    <div class="day-part postmen-part mt-4">
                        <div class="occupied-postmen-sub-part day-sub-part">
                            <ng-container [ngTemplateOutlet]="data_set" [ngTemplateOutletContext]="{data:[{skeleton: true}, {skeleton: true}],klass:'bg-green', title: 'shared.postmen_calendar.postman_available_title'}"></ng-container>
                        </div>
                        <div class="available-postmen-sub-part day-sub-part">
                            <ng-container [ngTemplateOutlet]="data_set" [ngTemplateOutletContext]="{data:[{skeleton: true}, {skeleton: true}],klass:'bg-red', title: 'shared.postman_calender.busy_evisers_title'}"></ng-container>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="displayed_postman" class="postman-info-table mt-2">
                <div *ngIf="!details">
                    <div class="rect-loading-skeleton w-100 h-30"></div>
                    <div class="rect-loading-skeleton w-100 h-30"></div>
                    <div class="rect-loading-skeleton w-100 h-30"></div>
                    <div class="rect-loading-skeleton w-100 h-30"></div>
                    <div class="rect-loading-skeleton w-100 h-30"></div>
                </div>
                <div *ngIf="details" class="postman-info-container">
                    <!--<div class="postman-info-row">-->
                    <!--<div class="postman-info-label">Distinta</div>-->
                    <!--<div class="postman-info-value">de-5x8659f896129-1103201911-35208</div>-->
                    <!--</div>-->
                    <div class="postman-info-row">
                        <div class="postman-info-label">{{'shared.postmen_calendar.create_data'|translate}}</div>
                        <div class="postman-info-value">{{details.createdAt | translate}}</div>
                    </div>
                    <div class="postman-info-row">
                        <div class="postman-info-label">{{'shared.postmen_calendar.processing_date'|translate}}</div>
                        <div class="postman-info-value">{{details.startedAt}}</div>
                    </div>
                    <div class="postman-info-row">
                        <div class="postman-info-label">{{'shared.postmen_calendar.postman'|translate}}</div>
                        <div class="postman-info-value">{{details.postmanName}}</div>
                    </div>
                    <div class="postman-info-row">
                        <div class="postman-info-label">Q{{'shared.postmen_calendar.quantity_of_products'|translate}}</div>
                        <div class="postman-info-value">{{details.quantity}} {{'shared.postmen_calendar.product2'|translate}}</div>
                    </div>
                    <div class="postman-info-row2">
                        <div class="postman-info-label">{{'shared.postmen_calendar.specific_delivery'|translate}}</div>
                        <div class="postman-info-value">
                            <div>
                                <span class="show-more-statuses-count" *ngIf="details.deliveredProducts.groups.length"  (click)="current_day_info.delivered_expanded = !current_day_info.delivered_expanded">
                                    <fa-icon [icon]="['fa', !current_day_info.delivered_expanded ? 'chevron-right' : 'chevron-down']"></fa-icon>
                                </span>
                                {{details.deliveredProducts.count}} {{'shared.postmen_calendar.delivered'|translate}}
                            </div>
                            <div class="statuses-counts-collabse pl-4" *ngIf="current_day_info.delivered_expanded">
                                <div *ngFor="let group of details.deliveredProducts.groups">{{group.key}}: {{group.value}}</div>
                            </div>
                            <div>
                                <span class="show-more-statuses-count"  *ngIf=" details.notDeliveredProducts.groups.length"  (click)="current_day_info.not_delivered_expanded = !current_day_info.not_delivered_expanded">
                                    <fa-icon [icon]="['fa', !current_day_info.not_delivered_expanded ? 'chevron-right' : 'chevron-down']"></fa-icon>
                                </span>
                                {{details.notDeliveredProducts.count}} {{'shared.postmen_calendar.not_delivered'|translate}}
                            </div>
                            <div class="statuses-counts-collabse pl-4" *ngIf="current_day_info.not_delivered_expanded">
                                <div *ngFor="let group of details.notDeliveredProducts.groups">{{group.key}}: {{group.value}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="postman-info-row2">
                        <div class="postman-info-label">{{'shared.postmen_calendar.product_specification'|translate}}</div>
                        <div class="postman-info-value">
                            <div class="font-size-12px" *ngFor="let item of details.productsByCategories">
                                {{item.key}}: {{item.value}}
                            </div>
                        </div>
                    </div>
                    <div class="postman-info-row2">
                        <div class="postman-info-label">{{'shared.postmen_calendar.distribution_specification'|translate}}</div>
                        <ul class="postman-info-value ml-3">
                            <li class="font-size-12px" *ngFor="let item of details.productsByAddresses">
                                {{item.key}} - {{item.value}} {{'shared.postmen_calendar.product'|translate}}
                            </li>
                        </ul>
                    </div>
                    <div class="postman-info-row2">
                        <div class="postman-info-label">{{'shared.postmen_calendar.preparing_bag'|translate}}</div>
                        <ng-select class="integraa-select" [bindLabel]="'name'" [items]="availableUsers" [(ngModel)]="details.user" [clearable]="false" (change)="assignToUser($event)"></ng-select>
                    </div>
                    <div class="postman-info-row2">
                        <div class="postman-info-label">{{'shared.postmen_calendar.preparation_outcome'|translate}}</div>
                        <ng-select class="integraa-select" [bindLabel]="'name'" [items]="detailsStatuses" [(ngModel)]="details.status" [clearable]="false" (change)="detailsStatusChanged($event)"></ng-select>
                    </div>
                    <div class="notes postman-info-row2 mt-3">
                        <app-comments title="Note interne" [comments]="details.internalNotes" (commentAdded)="addSetNote($event, 'internal_note')"></app-comments>
                    </div>
                    <div class="postman-notifications postman-info-row2 mt-3">
                        <app-comments title="Notifica per postino" [file]="true" [comments]="details.postmanNotes" (commentAdded)="addSetNote($event, 'postman_note')"></app-comments>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="postmen-calender-container no-data-postmen-calender-container" *ngIf="!data"></div>
</ng-container>

<!-- Templates -->
<ng-template #data_set let-data="data" let-more='more' let-day='day' let-klass="klass" let-title="title">
    <div class="data-set occupied-set">
        <div class="data-set-header">{{title |translate}}</div>
        <div class="data-set-body">
            <ng-container *ngFor="let row of data; let idx = index">
                <div *ngIf="row.skeleton"><div class="rect-loading-skeleton mt-2 w-90 h-30"></div></div>
                <div *ngIf="!row.skeleton" class="data-set-row {{klass}}" (click)="displayedPostman(row.set_id_for_this_day, day.dayDate)" [ngClass]="{'odd': idx%2, 'even': !(idx%2), 'clickable-item': row.set_id_for_this_day, 'selected-item': row.set_id_for_this_day && displayed_postman === row.set_id_for_this_day}">
                    <div class="d-flex">
                        <div class="postman-icon"><img src="/assets/images/postman-icon.png"></div>
                        <div class="postman-name">{{row.full_name}}</div>
                        <div class="edit-icon pr-0" (click)="openEditPostmanNoteModal($event, row, day)"><fa-icon ngbTooltip="Nota distinta" [icon]="['fa','pen']"></fa-icon></div>
                    </div>
                    <div class="postman-note">{{row.note}}</div>
                </div>
            </ng-container>
            <div *ngIf="data.length > 4 && more" class="data-set-row {{klass}} more-button" (click)="showMore(day, more)" [ngClass]="{'odd': data.length%2, 'even': !(data.length%2)}">
                {{'shared.postmen_calendar.more' | translate}}
            </div>
        </div>
    </div>
</ng-template>


<!-- Modals -->
<ng-template #editPostmanNoteModal let-modal>

    <div class="modal-container nFoundItemModal">
        <div class="modal-body">
            <h6 class="text-center">
                <fa-icon [icon]="['fa','pen']"></fa-icon> {{'shared.postmen_calendar.postman_note'|translate}}
            </h6>
            <textarea #postmanNoteInput class="form-control mt-4" placeholder="{{'shared.postmen_calendar.postman_note_plhold'|translate}}">{{activepostman.note}}</textarea>
            <div class="btns-container mt-3">
                <button type="button" (click)="modal.close();savePostmanNote(postmanNoteInput)" class="integraa-btn ml-2 float-right" >{{'shared.postmen_calendar.continue'|translate}}</button>
                <button type="button" (click)="modal.close();" class="integraa-btn ml-2 bg-light float-right" >{{'shared.postmen_calendar.cancel'|translate}}</button>
                <div class="clear-both"></div>
            </div>
        </div>
    </div>

</ng-template>
<ng-template #editDayNoteModal let-modal>

    <div class="modal-container nFoundItemModal">
        <div class="modal-body">
            <h6 class="text-center">
                <fa-icon [icon]="['fa','pen']"></fa-icon> {{'shared.postmen_calendar.set_day'|translate}} {{activeday._idx}} ({{days[activeday._idx] | translate}}) {{'shared.postmen_calendar.note'|translate}}
            </h6>
            <textarea #dayNoteInput class="form-control mt-4" placeholder="Note">{{activeday.note | translate}}</textarea>
            <div class="btns-container mt-3">
                <button type="button" (click)="modal.close();saveDayNote(dayNoteInput)" class="integraa-btn ml-2 float-right" >{{'shared.postmen_calendar.continue'|translate}}</button>
                <button type="button" (click)="modal.close();" class="integraa-btn ml-2 bg-light float-right" >{{'shared.postmen_calendar.cancel'|translate}}</button>
                <div class="clear-both"></div>
            </div>
        </div>
    </div>

</ng-template>
<ng-template #editDayAttachmentModal let-modal>

    <div class="modal-container nFoundItemModal">
        <div class="modal-body">
            <h6 class="text-center">
                <fa-icon [icon]="['fa','upload']"></fa-icon> {{'shared.postmen_calendar.set_day'|translate}} {{activeday._idx | translate}} ({{days[activeday._idx] | translate}}) {{'shared.postmen_calendar.attachment'|translate}}
            </h6>
            <ngx-file-drop dropZoneLabel="Drop files here" [dropZoneClassName]="'drop-file-area'" (onFileDrop)="fileSelected($event)">
                <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                    <div>
                        <div class="drop-file-label" *ngIf="!selected_file"> <fa-icon [icon]="['fa', 'upload']"></fa-icon> {{'shared.postmen_calendar.drop_file_here'|translate}}</div>
                        <div class="drop-file-label" *ngIf="selected_file"> {{selected_file.relativePath}} </div>
                        <button type="button" class="select-file-button mt-2" (click)="openFileSelector()">{{'shared.postmen_calendar.browse_files'|translate}}</button>
                    </div>
                </ng-template>
            </ngx-file-drop>

            <div class="btns-container mt-3">
                <button type="button" (click)="modal.close();saveDayAttachment()" class="integraa-btn ml-2 float-right" >{{'shared.postmen_calendar.continue'|translate}}</button>
                <button type="button" (click)="modal.close();clearSelectedFile()" class="integraa-btn ml-2 bg-light float-right" >{{'shared.postmen_calendar.cancel'|translate}}</button>
                <div class="clear-both"></div>
            </div>
        </div>
    </div>

</ng-template>
<ng-template #showMoreAvailablePostmenModal let-modal>
    <div class="modal-container nFoundItemModal">
        <div class="modal-body">
            <h6 class="text-center">
                {{'shared.postmen_calendar.mailmen_available'|translate}}
            </h6>
            <div class="data-set-body show-more-body" infiniteScroll (scrolled)="showEvenMore()" [scrollWindow]="false">
                <ng-container *ngFor="let row of moreData; let idx = index">
                    <div *ngIf="row.skeleton"><div class="rect-loading-skeleton mt-2 w-90 h-30 ml-auto mr-auto d-block"></div></div>
                    <div *ngIf="!row.skeleton" class="data-set-row" [ngClass]="{'odd': idx%2, 'even': !(idx%2)}">
                        <div class="d-flex">
                            <div class="postman-icon"><img src="/assets/images/postman-icon.png"></div>
                            <div class="postman-name">{{row.full_name}}</div>
                            <div class="edit-icon pr-0" (click)="openEditPostmanNoteModal($event, row, loadMoreSave.day)"><fa-icon ngbTooltip="{{'shared.table.ngbTooltip.remove' | translate}}" [icon]="['fa','pen']"></fa-icon></div>
                        </div>
                        <div class="postman-note">{{row.note}}</div>
                    </div>
                </ng-container>
            </div>
            <div class="btns-container mt-3">
                <button type="button" (click)="closeShowMoreModal(modal)" class="integraa-btn ml-2 float-right" >{{'shared.postmen_calendar.ok'|translate}}</button>
                <div class="clear-both"></div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #confirmStatusChangeModal let-modal>
    <div class="modal-container nFoundItemModal">
        <div class="modal-body">
            <h6 class="text-center">
                {{'shared.postmen_calendar.bags_ready'|translate}}
            </h6>
            <div class="btns-container mt-3">
                <button type="button" (click)="detailsStatusChanged(null, true);modal.close()" class="integraa-btn ml-2 float-right" >{{'shared.postmen_calendar.run'|translate}}</button>
                <button type="button" (click)="modal.close();resetStatusSelect()" class="integraa-btn bg-light ml-2 float-right" >{{'shared.postmen_calendar.cancel'|translate}}</button>
                <div class="clear-both"></div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #confirmAssignModal let-modal>
    <div class="modal-container nFoundItemModal">
        <div class="modal-body">
            <h6 class="text-center">
                {{'shared.postmen_calendar.assign_bill'|translate}}
            </h6>
            <div class="btns-container mt-3">
                <button type="button" (click)="assignToUser(1, true);modal.close()" class="integraa-btn ml-2 float-right" >{{'shared.postmen_calendar.run'|translate}} </button>
                <button type="button" (click)="modal.close();" class="integraa-btn bg-light ml-2 float-right" >{{'shared.postmen_calendar.cancel'|translate}}</button>
                <div class="clear-both"></div>
            </div>
        </div>
    </div>
</ng-template>