<ng-template #modalRef let-modal>
  <div class="modal-container">
    <div class="modal-body">
      <ng-container *ngIf="data.method === 'filters' &&  !filtersCount && !confirmed; else ActualModal" >
        <div class="no-filters-warning-message">
          {{'pages.dispatch_view.modals.set_status.filter_applied' | translate}}
        </div>
        <div class="btns-container mt-3">
          <button type="button" class="integraa-btn integraa-danger-btn ml-2 float-right" (click)="confirm()">{{'pages.dispatch_view.modals.set_status.run' | translate}}</button>
          <button type="button" class="integraa-btn bg-light float-right" (click)="modal.close()">{{'pages.dispatch_view.modals.set_status.go_out' | translate}}</button>
          <div class="clear-both"></div>
        </div>
      </ng-container>
      <ng-template #ActualModal>
        <h6>{{'pages.dispatch_view.modals.set_status.create_one' | translate}}</h6>
        <div class="selected-count-confirm">
          {{'pages.dispatch_view.modals.set_status.about_try' | translate}} <b *ngIf="data.method === 'selected'" >{{selectedCount}}</b><b *ngIf="data.method === 'filters'" >{{filteredProductsCount}}</b> {{'pages.dispatch_view.modals.set_status.correct_quantity' | translate}}
        </div>
        <div class="row mt-4">
          <div class="col-12 text-danger mb-2" *ngIf="error===1">{{'pages.dispatch_view.modals.set_status.select_status' | translate}}</div>
          <div class="col-8 align-self-center">
            <label>{{'pages.dispatch_view.modals.set_status.status_req' | translate}}</label>
            <ng-select [(ngModel)]="selectedStatus">
              <ng-option *ngFor="let item of stats" [value]="item.value">{{item.title}}</ng-option>
            </ng-select>
          </div>
        </div>

        <div class="btns-container mt-3">
          <button type="button" class="integraa-btn ml-2 float-right" (click)="run(modal)">{{'pages.dispatch_view.modals.set_status.run' | translate}}</button>
          <button type="button" class="integraa-btn bg-light float-right" (click)="modal.close()">{{'pages.dispatch_view.modals.set_status.go_out' | translate}}</button>
          <div class="clear-both"></div>
        </div>
      </ng-template>
    </div>
  </div>
</ng-template>