<div class="loading-overlay" *ngIf="state && state.state">
  <div class="progress-bar">
    <span class="bar">
      <span [ngStyle]="{width: state.progress+'%'}" [ngClass]="{'animated-progress': state.autProgress}" class="progress"></span>
    </span>
  </div>
  <span class="progress-label" *ngIf="state.progress">{{floor(state.progress)+'%'}}</span>
  <div class="loading-message">{{state.message}}</div>


  <div class="hide-btn-container" *ngIf="state.hide_btn"><button class="integraa-btn hide-btn" (click)="hide()">Hide</button></div>
</div>


