.results-container{
    background-color: #fff;
    min-height: 634px;
    border-radius: 4px;
    font-size: 11px;
    padding-top: 1px;
    border: 1px solid #ffffff;
    height: 634px;
    overflow-y: scroll;
}

/* items */
.right-side{
    float: right;
}
.item-row .more, .item-row .select-container, .item-row .marker-container, .item-row .marker, .item-row .text {
    display: inline-block;
}
.item-row .more{
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
}
.item-row {
    padding: 5px 10px;
    font-size: 11px;
}
.item-row .marker{
    background-color: #000000;
    border: 1px solid #000000;
    color: white;
    font-size: 11px;
    font-weight: 600;
    vertical-align: middle;
    text-align: center;
    width: 21px;
    height: 21px;
    border-radius: 20px;
    margin-left: 30%;
    padding-top: 1px;
}
.item-row .text {
    font-size: 11px;
    padding-left: 5px;
    font-weight: 500;
}
.postman-marker{
    margin-left: 40%;
}


.street-items-header{
    background-color: #222222;
    color: #FEDA44;
    padding: 2px 10px;
}
.street-items-header-cell{
    font-weight: normal !important;
}
.street-items{
    font-size: 11px;
}
.street-item{
    padding: 2px 10px;
}

/* lvl-2 */
.lvl-2{
    padding-left: 14px;
}
.lvl-2 .item-row .select-container .selected, .lvl-2 .item-row .select-container .not-selected{
    width: 18px;
    height: 18px;
    font-size: 11px;
}
/* lvl-3 */
.lvl-3{
    padding-left: 33px;
}

.lvl-3 .item-row .select-container .selected, .lvl-3 .item-row .select-container .not-selected{
    width: 15px;
    height: 15px;
    font-size: 10px;
}
.lvl-3 .item-row {
    padding: 3px 10px;
}
/* lvl-4 */
.lvl-4{
    padding-left: 43px;
}
.lvl-4 .item-row .select-container .selected, .lvl-4 .item-row .select-container .not-selected{
    width: 15px;
    height: 15px;
    font-size: 10px;
}
.lvl-4 .item-row {
    padding: 3px 10px;
}
/* lvl-5 */

.lvl-5{
    padding-left: 80px;
}
.lvl-5 .item-row .select-container .selected, .lvl-5 .item-row .select-container .not-selected{
    width: 15px;
    height: 15px;
    font-size: 10px;
}
.lvl-5 .item-row {
    padding: 3px 10px;
}
.postman-name, .item-name  {
    font-size: 11px;
    font-weight: 500;
    padding-left: 2px;
    word-break: break-word;
}
.results-skeleton {
    display: block;
}

.postman-select {
    font-size: 11px;
}

.dndDragging {
    opacity: 0.4;
}
.dndDragover.drop-location {
    /*border: 1px solid green;*/
    transition: all ease .3s;
    border: 2px dotted green;
}
.dndPlaceholder {
    height: 42px;
    background-color: #c6edb6;
}

.items{
    height: 575px;
    overflow-y: scroll;
}
.selected-postman {
    background-color: #4caf5040 !important;
}
.postman-tree-node {
    cursor: pointer;
}
.priority-container {
    background: #212121;
    margin: auto;
    border-radius: 13px;
    width: 20px;
    height: 20px;
    display: flex;
    color: #FFF;
    text-align: center;
}
.priority-container span {
    margin: auto;
    width: 100%;
    text-align: center;

}
.product-items-header {
    background: #222222;
    color: #fcda4b;
}
.street-item .more {
    margin: auto;
    cursor: pointer;
}