<div class="d-flex tables-area full-width">
    <div class="small-table v-wide-col">
      <app-simple-table #CitiesTable [table]="citiesTable" (changed)="cityChanged($event)" [getMethod]="citiesGetMethod"></app-simple-table>
    </div>
    <div class="small-table v-wide-col">
      <app-simple-table #StreetsTable (onAction)="handleStreetsAction($event)" [table]="streetsTable" (changed)="streetChanged($event)" [getMethod]="streetsGetMethod"></app-simple-table>
    </div>
    <div class="large-table v-wide-col">
      <app-table #ProductsTable (selected)="selectedItemsChanged($event)" [refresh]="refresh" [parent]="this" style="text-align: center;" (orderChange)="changeOrder($event)" [items]="products" [table]="productsTable"></app-table>
    </div>
  </div>
  <ng-template appModal></ng-template>