<div class="comments-container">
  <div class="new-comment">
    <div class="comments-title">{{title}}</div>
    <textarea class="form-control comment-input" #commentInput></textarea>
    <button class="integraa-btn new-comment-button" (click)="addComment(commentInput)">Salva</button>
    <div class="clear-both"></div>
  </div>

  <div class="comments-list">
    <div class="comment mt-2" *ngFor="let comment of comments">
      <div class="comment-header">
        <div class="comment-user">{{comment.user}}:</div>
        <div class="comment-date">{{comment.date}}</div>
      </div>
      <div class="comment-text">{{comment.text}}</div>
    </div>
  </div>
</div>