.settings-page{
    padding-right: 10px;
}
.settings-actual-page{
    background-color: #fff;
    height: calc( 100vh - 155px);
    margin-top: 5px;
    border-radius: 5px;
    padding: 20px 10px;
    overflow-y: scroll;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}
.setting-row{
    font-size: 13px;
    padding: 5px 0px;
}
.api-daily-limit-input, .api-monthly-limit-input, .api-key-input {
    width: 40%;
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #707070;
}
.api-key-input {
    width: 84%;
}
.delete-btn img {
    width: 35px;
    cursor: pointer;
}