<div class="settings-page">
  <app-settings-header (create)="create()"></app-settings-header>

  <div class="settings-actual-page">
    <ng-container *ngIf="!loading">
      <ng-container *ngFor="let setting of settings">
        <ng-container [ngTemplateOutlet]="settingItem" [ngTemplateOutletContext]="{setting:setting}"></ng-container>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="loading">
      <div class="animated flipInX full-width"><div class="rect-loading-skeleton border-radius-0 h-45"></div></div>
      <div class="animated flipInX full-width"><div class="rect-loading-skeleton border-radius-0 h-45"></div></div>
      <div class="animated flipInX full-width"><div class="rect-loading-skeleton border-radius-0 h-45"></div></div>
    </ng-container>
  </div>
</div>


<ng-template let-setting="setting" #settingItem>
  <div class="container-fluid">
    <div class="row setting-row">
      <div class="col-5 wide-col">
        <label for="setting-key-{{setting.id}}">API key</label>
        <input (change)="edit($event, 'name', setting)" id="setting-key-{{setting.id}}" value="{{setting.name}}" type="text" class="api-key-input">
      </div>
      <div class="col-3 wide-col">
        <label for="setting-daily-limit-{{setting.id}}">Limite giornaliero</label>
        <input (change)="edit($event, 'limit_day', setting)" id="setting-daily-limit-{{setting.id}}" value="{{setting.limit_day}}" type="number" class="api-daily-limit-input">
      </div>
      <div class="col-3 wide-col">
        <label for="setting-monthly-limit-{{setting.id}}">Limite mensile</label>
        <input (change)="edit($event, 'limit_month', setting)" id="setting-monthly-limit-{{setting.id}}" value="{{setting.limit_month}}" type="number" class="api-monthly-limit-input">
      </div>
      <div class="col-1 wide-col">
        <div class="delete-btn" (click)="delete(setting)"><img src="/assets/images/delete.png" /> </div>
      </div>
    </div>
  </div>
</ng-template>