<div class="d-flex justify-content-end" [ngClass]="{'dark-theme':theme=='dark'}">
  <!-- Results per page {  -->
  <div class="d-inline-flex rpg-label"><label class="rpg-label">Risultati per pagina</label></div>
  <div class="d-inline-flex rpg-select"><ng-select [items]="[20,40,60]" class="integraa-select results-per-page"></ng-select></div>
  <!-- } Results per page -->

  <!-- Page select { -->
  <div class="d-inline-flex">
    <div class="pages-container">
      <div class="page active-page rounded-circle">1</div>
      <div class="page rounded-circle">2</div>
      <div class="page rounded-circle">3</div>
      <div class="page-sep">..</div>
      <div class="page rounded-circle">22</div>
      <div class="page rounded-circle">23</div>
    </div>
  </div>
  <!-- } Page select -->
</div>