<div class="container-fluid page-container">
  <div class="row full-height">
    <div class="col-xl-4 col-lg-5 col-md-12 v-wide-col mt-md-20px left-col">
      <div class="products-container" (scroll)="loadData()" infinite-scroll>
        <div class="product-items-header">
          <div class="d-flex">
            <div class="col-4 d-flex text-center product-items-header-col"><div class="with-white-dashed-bottom-border"><div class="m-auto">Codice a Barre</div></div><div class="m-auto">Codice Atto</div></div>
            <div class="col-3 d-flex m-auto text-center product-items-header-col">Prodotto</div>
            <div class="col-5 d-flex m-auto text-center product-items-header-col">Destinatario</div>
          </div>
        </div>
        <div class="product-items-body" *ngIf="data">
          <ng-container *ngFor="let product of data; let idx = index">
            <div [ngClass]="{'odd-bg': (idx)%2, 'even-bg': !((idx)%2)}" *ngIf="!product.skeleton" class="d-flex">
              <div class="col-4 wide-col d-flex text-center product-items-col"><div class="with-black-dashed-bottom-border"><div class="m-auto">{{product.barcode}}</div></div><div class="m-auto"> {{product.act_code}}</div></div>
              <div class="col-3 wide-col d-flex text-center product-items-col">
                {{product.product_category}}
              </div>
              <div class="col-5 wide-col d-flex text-center product-items-col">
                <b>{{product.recipient_name}}</b> {{product.recipient_street}} - {{product.recipient_house_number}} - {{product.recipient_cap}}, {{product.recipient_province}}
              </div>
            </div>
            <div *ngIf="product.skeleton" class="mt-1 rect-loading-skeleton w-100 h-30"></div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col-xl-8 col-lg-7 col-md-12 v-wide-col right-col">
      <div class="map-upper-container">
        <div class="map-container">
          <div class="map-search">
            <app-address-input (changed)="navigateMap($event)" [_class]="'bg-white'"></app-address-input>
          </div>
          <agm-map class="map" (mapClick)="mapClick($event)" (mapReady)="mapReady($event)" [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
            <ng-container *ngFor="let marker of markers; trackBy: trackMarkers ">
              <agm-marker [zIndex]="1" [latitude]="marker.lat" (markerClick)="marker.onClick($event)" [markerClickable]="marker.cluster" (dragEnd)="marker.onDrag($event, marker)" [iconUrl]="marker.icon" [markerDraggable]="marker.draggable" [longitude]="marker.lng" [label]="marker.label">
                <agm-info-window *ngIf="marker.infoWindow" [isOpen]="marker.infoWindow.isOpen" [disableAutoPan]="true">
                  <div [innerHTML]="marker.infoWindow.text"></div>
                </agm-info-window>
              </agm-marker>
              <agm-marker [zIndex]="2" *ngIf="marker.count"  [latitude]="marker.lat" [iconUrl]="marker.count_marker" [longitude]="marker.lng" [label]="marker.count"></agm-marker>
            </ng-container>
            <ng-container *ngFor="let path of paths">
              <agm-polyline [strokeColor]="'#4CAF50'">
                <agm-icon-sequence [path]="'FORWARD_OPEN_ARROW'" [scale]="'2.4'" [repeat]="'120px'"></agm-icon-sequence>
                <ng-container *ngFor="let point of path">
                  <agm-polyline-point *ngIf="!point.arrow" [latitude]="point.lat" [longitude]="point.lng"></agm-polyline-point>
                </ng-container>
              </agm-polyline>
            </ng-container>
          </agm-map>
        </div>
      </div>
    </div>
  </div>
</div>



