<ng-template #modalRef let-modal>
  <div class="modal-container">
    <div class="modal-body">
      <ng-container *ngIf="data.method === 'filters' &&  !filtersCount && !confirmed" >
        <div class="no-filters-warning-message">{{'home.modals.dispatch_assign.filter_applied' | translate}}</div>
        <div class="btns-container mt-3">
          <button type="button" class="integraa-btn integraa-danger-btn ml-2 float-right" (click)="confirmed = true">{{'home.modals.dispatch_assign.run' | translate}}</button>
          <button type="button" class="integraa-btn bg-light float-right" (click)="modal.close()">{{'home.modals.dispatch_assign.go_out' | translate}}</button>
          <div class="clear-both"></div>
        </div>
      </ng-container>
      <ng-container *ngIf="data.method === 'selected' && (!items || !items.length)">
        <div class="row mt-2">
          <div class="col-12 align-self-center" >
            <h5 class="no-items-msg">{{'home.modals.dispatch_assign.no_select' | translate}}</h5>
          </div>
        </div>
        <div class="btns-container mt-3">
          <button type="button" class="integraa-btn bg-light float-right" (click)="modal.close()">{{'home.modals.dispatch_assign.go_out' | translate}}</button>
          <div class="clear-both"></div>
        </div>
      </ng-container>
      <ng-container *ngIf="((data.method === 'selected' && items && items.length) || (data.method === 'filters' && filtersCount) || (data.method === 'filters' && !filtersCount && confirmed))">
        <h6>{{'home.modals.dispatch_assign.create_one' | translate}}</h6>
        <div class="selected-count-confirm">
          {{'home.modals.dispatch_assign.about_try' | translate}} <b *ngIf="data.method === 'selected'" >{{items.length}}</b><b *ngIf="data.method === 'filters'" >{{filteredProductsCount}}</b> 
          {{'home.modals.dispatch_assign.correct_quantity' | translate}}
        </div>
        <div class="row mt-4">
          <div class="container">
            <div class="row">
              <div class="col-8 align-self-center">
                <span *ngIf="error === 1" class="error-msg">{{'home.modals.dispatch_assign.select_continue' | translate}}</span>
                <label>{{'home.modals.dispatch_assign.preper_bag' | translate}}</label>
                <ng-select [items]="users" (change)="selectChanged($event)" class="integraa-select" [bindLabel]="'name'" [bindValue]="'id'"></ng-select>
              </div>
            </div>
          </div>
        </div>

        <div class="btns-container mt-3">
          <button type="button" class="integraa-btn ml-2 float-right" (click)="run(modal)">{{'home.modals.dispatch_assign.run' | translate}}</button>
          <button type="button" class="integraa-btn bg-light float-right" (click)="modal.close()">{{'home.modals.dispatch_assign.go_out' | translate}}</button>
          <div class="clear-both"></div>
        </div>
      </ng-container>
    </div>
  </div>
</ng-template>