<ng-container *ngIf="!isLoading;else skeleton">
    <!-- Table Sticky Header {  -->
    <table>
        <!-- Table Head { -->
        <thead class="table-head">
        <tr *ngIf="cells_size.length">
            <!-- Select item col { -->
            <th class="table-head-item" [ngStyle]="{width:getCellWidth(0)}">
                <div (click)="selectAll()" class="select-row rounded-circle"></div>
            </th>
            <!-- } Select item com -->
            <!-- Create the other cells using table data -->
            <!-- Table cols loop {  -->
            <ng-container *ngFor="let col of (table.cols);let idx = index">
                <th scope="col" class="table-head-item border-left-white" [ngStyle]="{width:getCellWidth(idx+1)}" *ngIf="typeof(col.title) === 'string'">
                    {{col.title}}
                </th>
                <!-- if the col contains more than one field, print every one of them -->
                <th scope="col" class="table-head-item border-left-white" [ngStyle]="{width:getCellWidth(idx+1)}" *ngIf="typeof(col.title) === 'object'">
                    <ng-container *ngFor="let title of col.title; let idx = index">
                        <!-- print col separator if needed -->
                        <div class="separator" *ngIf="idx && col.separator"></div>
                        <div>{{title}}</div>
                    </ng-container>
                </th>
            </ng-container>
            <!-- } table cols loop -->
        </tr>
        </thead>
        <!-- } Table Head -->
    </table>
    <!-- } Table Sticky Header -->

    <!-- Real Table { -->
    <div class="table-container" (window:resize)="updateTableHeaderSize()">
        <table class="table-sm real-table">
            <!--  -->
            <thead class="hidden-head">
            <tr *ngIf="cells_size.length">
                <!-- Select item col { -->
                <th class="table-head-item" [ngStyle]="{width:getCellWidth(0)}">
                    <div class="select-row rounded-circle"></div>
                </th>
                <!-- } Select item com -->
                <!-- Create the other cells using table data -->
                <!-- Table cols loop {  -->
                <ng-container *ngFor="let col of (table.cols);let idx = index">
                    <th scope="col" class="table-head-item border-left-white" [ngStyle]="{width:getCellWidth(idx+1)}" *ngIf="typeof(col.title) === 'string'">
                        {{col.title}}
                    </th>
                    <!-- if the col contains more than one field, print every one of them -->
                    <th scope="col" class="table-head-item border-left-white" [ngStyle]="{width:getCellWidth(idx+1)}" *ngIf="typeof(col.title) === 'object'">
                        <ng-container *ngFor="let title of col.title; let idx = index">
                            <!-- print col separator if needed -->
                            <div class="separator" *ngIf="idx && col.separator"></div>
                            <div>{{title}}</div>
                        </ng-container>
                    </th>
                </ng-container>
                <!-- } table cols loop -->
            </tr>
            </thead>
            <!-- Table Body { -->
            <tbody class="table-body">

            <!-- print table items -->
            <ng-container *ngFor="let item of items; let idx = index">
                <!-- row item {  -->
                <tr #tableRow class="table-item" [ngClass]="{'odd-bg':!(idx%2),'even-bg':(idx%2),'active-item':!idx, 'selected-row':isSelectedRow(item)}">
                    <!-- select row item <static item > {  -->
                    <td class="table-item-cell" [ngStyle]="{width: '1%'}">
                        <div class="select-row rounded-circle" (click)="selectItem(item)"></div>
                    </td>
                    <!-- } select row item  -->
                    <!-- print item cells loop {  -->
                    <ng-container *ngFor="let col of (table.cols)">
                        <!-- item cell {  -->
                        <td class="table-item-cell justify-content-center" [ngStyle]="{width: col.width+'%'}">
                            <span *ngIf="typeof(col.field) === 'string' && item[col.field] && typeof(col.field) === 'string'" [ngClass]="getFieldClass(col,col.field)">{{item[col.field]}}</span>
                            <span *ngIf="typeof(col.field) === 'string' && item[col.field] && typeof(col.field) === 'function'" [ngClass]="getFieldClass(col,col.field)">{{col.field(item)}}</span>
                            <!-- if the cell contains many fields then print them all  -->
                            <span *ngIf="typeof(col.field) === 'object'">
                            <ng-container *ngFor="let field of col.field; let idx = index">
                              <div class="separator" *ngIf="idx && col.value_separator == 'dashed'"></div>
                              <div class="line-separator" *ngIf="idx && col.value_separator == 'line'"></div>
                              <div *ngIf="typeof(field) === 'string'"><span [ngClass]="getFieldClass(col,field)">{{item[field]}}</span></div>
                              <div *ngIf="typeof(field) === 'function'"><span [ngClass]="getFieldClass(col,idx)">{{field(item)}}</span></div>
                            </ng-container>
                        </span>
                            <ng-container *ngFor="let action of col.actions">
                                <ng-container *ngIf="action.action=='view'" [ngTemplateOutlet]="view" [ngTemplateOutletContext]="{action:action, item:item}"></ng-container>
                                <ng-container *ngIf="action.action=='book'" [ngTemplateOutlet]="book" [ngTemplateOutletContext]="{action:action, item:item}"></ng-container>
                                <ng-container *ngIf="action.action=='progress'" [ngTemplateOutlet]="progress" [ngTemplateOutletContext]="{action:action, item:item}"></ng-container>
                                <ng-container *ngIf="action.action=='pp'" [ngTemplateOutlet]="pp" [ngTemplateOutletContext]="{action:action, item:item}"></ng-container>
                                <ng-container *ngIf="action.action=='print'" [ngTemplateOutlet]="print" [ngTemplateOutletContext]="{action:action, item:item}"></ng-container>
                                <ng-container *ngIf="action.action=='excel_export'" [ngTemplateOutlet]="excel_export" [ngTemplateOutletContext]="{action:action, item:item}"></ng-container>
                                <ng-container *ngIf="action.action=='edit'" [ngTemplateOutlet]="edit" [ngTemplateOutletContext]="{action:action, item:item}"></ng-container>
                                <ng-container *ngIf="action.action=='more'" [ngTemplateOutlet]="more" [ngTemplateOutletContext]="{action:action, item:item}"></ng-container>
                            </ng-container>
                        </td>
                        <!-- } item cell  -->

                    </ng-container>
                    <!-- } print item cells loop -->
                </tr>
                <tr [ngbCollapse]="!isCollapsed[item.id]" [ngClass]="{'odd-bg':!(idx%2),'even-bg':(idx%2),'active-item':!idx}">
                    <td [colSpan]="table.cols.length + 1" class="collapse-actions-container">
                        <ng-container *ngFor="let action of table.collapsedActions ">
                            <button class="integraa-btn collapse-action-btn z-depth-1 {{action._class}}" (click)="action.click && action.click(item, parent)">{{action.label}}</button>
                        </ng-container>
                    </td>
                </tr>
                <!-- } row item -->
            </ng-container>

            </tbody>
            <!-- } Table Body -->
        </table>
        <!-- Table footer -->
    </div>
    <!-- }  Real Table  -->
    <div class="pagination-footer animated fadeIn"> &nbsp;
        <!--<app-pagination [theme]="'dark'" [current_page]="page" [results_count]="pagination.tolal" ></app-pagination>-->
    </div>
</ng-container>

<ng-template #skeleton>
    <div class="table-skeleton-loading">
        <div class="table-head full-width h-39 rect-black-loading-skeleton"></div>
        <div class="table-skeleton-container">
            <div class="animated flipInX full-width"><div class="rect-loading-skeleton border-radius-0 h-45 mt-2"></div></div>
            <div class="animated flipInX full-width"><div class="rect-loading-skeleton border-radius-0 h-45"></div></div>
            <div class="animated flipInX full-width"><div class="rect-loading-skeleton border-radius-0 h-45"></div></div>
            <div class="animated flipInX full-width"><div class="rect-loading-skeleton border-radius-0 h-45"></div></div>
            <div class="animated flipInX full-width"><div class="rect-loading-skeleton border-radius-0 h-45"></div></div>
            <div class="animated flipInX full-width"><div class="rect-loading-skeleton border-radius-0 h-45"></div></div>
        </div>
    </div>

</ng-template>


<!-- TODO complete this thing -->
<!--  Actions templates { -->
<ng-template #view let-action="action" let-item="item">
    <img (click)="action.click && action.click(item, parent)" [ngClass]="action._class" src="assets/images/code-review.svg" class="action-icon">
</ng-template>
<ng-template #book><img src="assets/images/notepad.svg" class="action-icon"></ng-template>
<ng-template #print><img src="assets/images/printer.svg" class="action-icon"></ng-template>
<ng-template #excel_export let-action="action" let-item="item"><img (click)="action.click && action.click(item)" src="assets/images/excel.svg" class="action-icon"></ng-template>
<ng-template #edit let-action="action" let-item="item"><img src="assets/images/edit.svg" (click)="action.click && action.click(item, parent)" class="action-icon"></ng-template>
<ng-template #pp let-action="action" let-item="item">
    <img *ngIf="item[action.field] && (action.print_if?action.print_if(item):true)" (click)="action.click && action.click(item)" src="assets/images/pause.svg" class="action-icon play-pause-icon">
    <img *ngIf="!item[action.field] && (action.print_if?action.print_if(item):true)" (click)="action.click && action.click(item)" src="assets/images/play.svg" class="action-icon play-pause-icon">
</ng-template>
<ng-template #progress let-action="action" let-item="item">
    <div class="progress-action-container z-depth-half"><div class="progress-action-value" [ngStyle]="{width:item[action.field]+'%'}">&nbsp;</div><div class="progress-action-text-value horiz">{{item[action.field]}} %</div></div>
</ng-template>
<ng-template #more let-item="item" let-action="action">
    <span class="collapse-arrow action-icon">
        <fa-icon *ngIf="!isCollapsed[item.id]" (click)="isCollapsed[item.id] = !isCollapsed[item.id]" [icon]="['fa','chevron-right']"></fa-icon>
        <fa-icon *ngIf="isCollapsed[item.id]" (click)="isCollapsed[item.id] = !isCollapsed[item.id]" [icon]="['fa','chevron-up']"></fa-icon>
    </span>
</ng-template>
<!-- } Actions templates -->