<app-user-nav></app-user-nav>
<!--<div class="the-yellow-bar mt-3 mb-3"></div>-->
<div class="container-fluid page-container">
  <div class="row mt-2">
    <div class="col-4 v-wide-col">
      <div class="schedule-nav">
        <button class="btn schedule-nav-btn schedule-nav-left-btn" [ngClass]="{'active': activeTab('/schedule/'+preDispatch)}" routerLink="/schedule/{{preDispatch}}">Indirizzi</button>
        <button class="btn schedule-nav-btn" [ngClass]="{'active': activeTab('/schedule/'+preDispatch+'/toPlan')}" routerLink="/schedule/{{preDispatch}}/toPlan">Da pianificare</button>
        <button class="btn schedule-nav-btn" [ngClass]="{'active': activeTab('/schedule/'+preDispatch+'/parameters')}" routerLink="/schedule/{{preDispatch}}/parameters">Parametri</button>
        <button class="btn schedule-nav-btn schedule-nav-right-btn" [ngClass]="{'active': activeTab('/schedule/'+preDispatch+'/result')}" routerLink="/schedule/{{preDispatch}}/result">Risultato</button>
      </div>
    </div>
    <div class="col-8 v-wide-col">
      <div class="map-header">
        <div class="mote-to-in-plan-btn integraa-btn" *ngIf="activeTab('/schedule/'+preDispatch)" (click)="moveToInPlan(notFoundItemsWarnongModalRef, false)">Move to in plan</div>
        <!--<div class="mote-to-in-plan-btn integraa-btn" *ngIf="activeTab('/schedule/'+preDispatch+'/toPlan')" (click)="divideToDistenta()">Divide</div>-->
        <div class="progress-action-container z-depth-half"><div class="progress-action-value" [ngClass]="{'warning-progress': false}" [ngStyle]="{width: preDispatchData.percent + '%'}">&nbsp;</div><div class="progress-action-text-value horiz"> {{preDispatchData.percent}} %</div></div>
        <img *ngIf="isRunning()" (click)="stopLocating()" src="assets/images/pause.svg" class="action-icon play-pause-icon">
        <img *ngIf="!isRunning()" (click)="locate()" src="assets/images/play.svg" class="action-icon play-pause-icon">
        <div class="continue-btn integraa-btn" (click)="next()">
          <ng-container *ngIf="activeTab('/schedule/'+preDispatch+'/parameters')">
            Pianifica
          </ng-container>
          <ng-container *ngIf="!activeTab('/schedule/'+preDispatch+'/parameters')">
            Prosegui
          </ng-container>
        </div>
        <div class="clear-both"></div>
      </div>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-4 v-wide-col">
      <router-outlet></router-outlet>
    </div>
    <div class="col-8 v-wide-col">
      <div class="map-container">
        <div class="map-search">
          <app-address-input (changed)="navigateMap($event)" [_class]="'bg-white'"></app-address-input>
        </div>
        <agm-map class="map" (mapClick)="mapClick($event)" [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
          <ng-container *ngFor="let marker of markers">
            <agm-marker [latitude]="marker.lat" [longitude]="marker.lng" [label]="marker.label"></agm-marker>
          </ng-container>
        </agm-map>
      </div>
    </div>
  </div>
</div>

<ng-template  #modalRef let-modal>
  <div class="modal-container nFoundItemModal">
    <div class="modal-body">
      <h6 class="mb-3">
        <fa-icon class="text-warning" [icon]="['fa','exclamation-triangle']"></fa-icon>
        The system was not able to locate this Addresses
      </h6>
      <div *ngFor="let nFoundItem of nFoundItems" class="mt-2 pr-5 pl-5">
        <h6 class="mb-0"><span class="text-warning font-size-13">{{nFoundItem.street}}, {{nFoundItem.houseNumber}}, {{nFoundItem.cap}} {{nFoundItem.city}}</span></h6>
        <div>
          <div class="form-group">
            <label>Change address</label>
            <app-address-input (changed)="notFoundAddressChanged($event, nFoundItem)" [disabled]="latLngInputState[nFoundItem.id]" [_class]="'full-size-ac'" ></app-address-input>
            <div *ngIf="errors['invalid-building-'+nFoundItem.id] && !latLngInputState[nFoundItem.id]" class="error-msg">Invalid Building Address</div>
          </div>
          <div class="form-group mb-1">
            <input id="lat-lng-input-activate" (change)="latLngInputActivate($event, nFoundItem, latInput, lngInput)" type="checkbox"> &nbsp;
            <label for="lat-lng-input-activate">Enter lat,lng instead </label>
          </div>
          <div class="row">
            <div class="col-6 col-xs-12">
              <input #latInput (change)="notFoundCoordinatesChanged($event, 'lat', nFoundItem)" [disabled]="!latLngInputState[nFoundItem.id]" type="text" class="form-control" placeholder="latitude">
            </div>
            <div class="col-6 col-xs-12">
              <input #lngInput (change)="notFoundCoordinatesChanged($event, 'long', nFoundItem)" [disabled]="!latLngInputState[nFoundItem.id]" type="text" class="form-control" placeholder="longitude">
            </div>
          </div>
        </div>
        <hr>
      </div>
      <div class="btns-container mt-3">
        <button type="button" (click)="modal.close();fixLocation()" class="integraa-btn ml-2 float-right" >Esegui</button>
        <button type="button" (click)="modal.close();fixLocation(true)" class="integraa-btn integraa-btn-dark ml-2 float-right" >Skip</button>
        <div class="clear-both"></div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template  #notFoundItemsWarnongModalRef let-modal>
  <div class="modal-container nFoundItemModal">
    <div class="modal-body">
      <h6 class="mb-3">
        <fa-icon class="text-warning notFoundItemsWarnongModalWarningIcon" [icon]="['fa','exclamation-triangle']"></fa-icon>
      </h6>
      <h6 class="text-center">Some not located items was found, are you sure you want to continue ?</h6>
      <div class="btns-container mt-3">
        <button type="button" (click)="modal.close();moveToInPlan(notFoundItemsWarnongModalRef, true)" class="integraa-btn integraa-btn-danger ml-2 float-right" >Esegui</button>
        <button type="button" (click)="modal.close();" class="integraa-btn integraa-btn-dark ml-2 float-right" >Close</button>
        <div class="clear-both"></div>
      </div>
    </div>
  </div>
</ng-template>

