.schedule-nav{
    display: flex;
}
.schedule-nav-btn{
    flex: 0 0 25%;
    font-size: 13px;
    color: #212121;
    background-color: #E8E8E8;
    border: 1px solid #D3D3D3;
    padding: 13px;
    border-radius: 0px;
}
.schedule-nav-btn:focus{
    box-shadow: none !important;
}
.schedule-nav-btn.active{
    background-color: #F2F2F2;
}
.schedule-nav-right-btn{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: 0px;
}
.schedule-nav-left-btn{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: 0px
}

.map-header {
    background-color: #fff;
    min-height: 50px;
    border-radius: 5px;
    padding: 0px 10px;
}
.localizza-btn, .continue-btn {
    margin-top: 10px;
    cursor: pointer;
}
.continue-btn {
    float: right;
}
.localizza-btn {
    float: left;
}

.map {
    /*height: calc(100vh - 130px);*/
    height: 634px;
}

.nFoundItemModal, .nFoundItemModal input{
    font-size: 14px;
}
.mote-to-in-plan-btn {
    width: 130px;
    float: left;
    margin: 10px;
    cursor: pointer;
}

.error-msg{
    font-size: 13px;
    color: #ff5722;
}

.notFoundItemsWarnongModalWarningIcon{
    font-size: 58px;
    margin: auto;
    display: block;
    text-align: center;
    padding: 20px 0px;
    color: #F44336!important;
}
.map-search{
    position: absolute;
    z-index: 999;
    width: 250px;
    top: 5px;
    left: 10px;
    opacity: 0.9;
}

.the-yellow-bar{
    width: 100%;
    height: 30px;
    background-color: #fcda4b;
}


.progress-action-container{
    width: 200px;
    height: 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    background: #fff;
    display: inline-block;
    margin: 14px auto;
    float: left;

}
.progress-action-value{
    background-color: #2CA53A;
    position: absolute;
    top: 0px;
    left: 0px;
    min-width: 1px;
    z-index: 1;
    height: 100%;
}
.progress-action-text-value{
    width: 100%;
    height: 100%;
    text-align: center;
    color: #000;
    background: transparent;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    padding-top: 4px;
    font-size: 9px;
}

.play-pause-icon{
    width: 15px;
    margin: 14px;
    cursor: pointer;
}