.search-panel{
    background-color: white;
    padding: 10px 30px;
    border-radius: 5px;
}
#searchCollapse{
    margin-top: 5px;
}

/* easy search */

/* } easy search */

/* expanded search { */
.expanded-search-container{
    margin-top: -5px;
}
.expanded-search-container input {
    width: 100%;
}
.search-input input,.search-input-group input{
    background-color: #f5f5f5;
    border-radius: 0px;
    font-size: 13px;
    height: 30px;
}
.search-input label,.search-input-group label{
    font-size: 13px;
    margin-bottom: 2px;
    color: #333;
}
/* } expanded search */

/* cap statistics/filters { */

.cap-statistics-container{
    background-color: #fafafa;
    padding: 20px 0px;
    border-radius: 8px;
    overflow-x: scroll;
}
.caps-inner-container{
    width: auto;
    min-width: 100%;
    display: flex;
}
.cap-box{
    min-width: 65px;
    max-width: 65px;
    font-size: 13px;
    cursor: pointer;
}
.cap-box-head{
    padding: 5px;
    text-align: center;
    background-color: #47912b;
    color: white;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    width: 100%;
    display: block;

}
.cap-box-body{
    display: block;
    width: 100%;
    padding: 12px 10px;
    text-align: center;
    font-weight: bold;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.active-cap .cap-box-head{
    background: #fcda4b;
    color: black;
}


/* } cap statistics/filters */

.date-select {
    width: 100%;
    border: 1px solid #f3f3f3;
    padding: 0px 10px;
    height: 30px;
    font-size: 13px;
    background-color: #f5f5f5;
    color: #495057;
    border: 1px solid #ced4da;
}

.active-filter{
    border: 2px solid #28a745;
}
.search-number-input {
    width: 100%;
    padding: 0px 20px;
    font-size: 13px;
    height: 30px;
    background-color: #f5f5f5;
    border: 1px solid #ced4da;
}
