<div class="search-panel z-depth-half">


  <div class="row">
    <!-- easy search {  -->
    <ng-container *ngIf="isCollapsed">
      <!-- easy search input { -->
      <div class="col-lg-2 wide-col" >
        <app-search-box *ngIf="!_search" [placeholder]="'Cerca'" [style]="'thin'" ></app-search-box>
        <ng-container *ngFor="let field of searchFields">
          <ng-container *ngIf="field.type === 'text'">
            <app-search-box (changed)="changeSearchValue($event, field.type)" *ngIf="_search && _search.key == field.key" [placeholder]="'Cerca'" [style]="'thin'" ></app-search-box>
          </ng-container>
          <ng-container *ngIf="field.type === 'number'">
            <input type="number" class="search-number-input" *ngIf="_search && _search.key == field.key" (change)="changeSearchValue($event, field.type)" [placeholder]="'Cerca'">
          </ng-container>
          <ng-container *ngIf="field.type === 'ng-select' && _search && _search.key == field.key">
            <ng-select [clearable]="false" [loading]="_search.loading" (search)="getFieldRemoteData($event,_search)" (change)="changeSearchValue($event, field.type)" *ngIf="field.getMethod" class="integraa-select" [bindLabel]="_search.labelVal" [items]="_search.items" placeholder="Cerca"></ng-select>
            <ng-select [clearable]="false" (change)="changeSearchValue($event, field.type)" *ngIf="!field.getMethod" class="integraa-select" [bindLabel]="_search.labelVal" [items]="_search.items" placeholder="Cerca"></ng-select>
          </ng-container>
          <ng-container *ngIf="field.type === 'date'">
            <input (change)="changeSearchValue($event, field.type)" *ngIf="_search && _search.key == field.key" #searchDateInput type="date" class="date-select">
          </ng-container>
        </ng-container>
      </div>
      <!-- } easy search input -->
      <!-- easy search field select { -->
      <div class="col-lg-2 wide-col">
        <ng-select (change)="searchFieldChanged($event)" [items]="searchFields" class="integraa-select" placeholder="Nel Campo"></ng-select>
      </div>
      <!-- } easy search field select  -->
      <!-- easy search submit { -->
      <div class="col-lg-3">
        <button type="button" (click)="search()" class="integraa-btn">Cerca</button>
      </div>
      <!-- } easy search submit -->
    </ng-container>
    <!-- } easy search  -->

    <!-- expanded search expand btn { -->
    <div class="col-lg-2 offset-3" [ngClass]="{'offset-10':!isCollapsed}">
      <button type="button" class="integraa-btn search-panel-collapse-btn float-right" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="isCollapsed" aria-controls="searchCollapse">
        <span class="mr-1">Filtra</span>
        <ng-container *ngIf="isCollapsed; else collapseArrowUp">
          <fa-icon [icon]="['fa','chevron-down']"></fa-icon>
        </ng-container>
        <ng-template #collapseArrowUp><fa-icon [icon]="['fa','chevron-up']"></fa-icon></ng-template>
      </button>
    </div>
    <!-- } expanded search expand btn -->
  </div>

  <!-- Collapsed Area { -->
  <div id="searchCollapse" [ngbCollapse]="isCollapsed">
    <div class="expanded-search-container container-fluid">
      <!-- expanded search inputs {  -->
      <div class="search-inputs-container row">
        <ng-container *ngFor="let input of filtersFields; let idx = index">
          <!-- If input is simple  -->
          <ng-container *ngIf="!input.group; else groupInput">
            <div class="search-input col-2 wide-col">
              <label>{{input.label}}</label>
              <ng-container *ngIf="input.type === 'text'">
                <app-search-box [ngClass]="{'active-filter':isActive(input.key)}" class="{{input._class}}" (changed)="changeFiltersValue($event, input.key, input.type, idx)" [placeholder]="'Cerca'" [style]="'thin'" ></app-search-box>
              </ng-container>
              <ng-container *ngIf="input.type === 'simpleText'">
                <input [ngClass]="{'active-filter':isActive(input.key)}" class="form-control {{input._class}}" (change)="changeFiltersValue($event, input.key, input.type, idx)" [placeholder]="'Cerca'">
              </ng-container>
              <ng-container *ngIf="input.type === 'number'">
                <input type="number" [ngClass]="{'active-filter':isActive(input.key)}" class="form-control {{input._class}}" (change)="changeFiltersValue($event, input.key, input.type, idx)" [placeholder]="'Cerca'">
              </ng-container>
              <ng-container *ngIf="input.type === 'ng-select'">
                <ng-select [(ngModel)]="input.selectedAttribute" [clearable]="!input.unclearbale" [ngClass]="{'active-filter':isActive(input.key)}" [loading]="input.loading" (search)="getFieldRemoteData($event,input)" (change)="changeFiltersValue($event, input.key, input.type, idx)" *ngIf="input.getMethod" class="filters-select-input {{input._class}}" [bindLabel]="input.labelVal" [items]="input.items" placeholder="Cerca"></ng-select>
                <ng-select [(ngModel)]="input.selectedAttribute" [clearable]="!input.unclearbale" [ngClass]="{'active-filter':isActive(input.key)}" (change)="changeFiltersValue($event, input.key, input.type, idx)" *ngIf="!input.getMethod" class="filters-select-input {{input._class}}" [bindLabel]="input.labelVal" [items]="input.items" placeholder="Cerca"></ng-select>
              </ng-container>
              <ng-container *ngIf="input.type === 'tag'">
                <ng-select [addTag]="'any'" [multiple]="true" notFoundText="Add Item" [clearable]="!input.unclearbale" [ngClass]="{'active-filter':isActive(input.key)}" (change)="changeFiltersValue($event, input.key, input.type, idx)" class="filters-select-input {{input._class}}" [items]="input.items" placeholder="Cerca"></ng-select>
              </ng-container>
              <ng-container *ngIf="input.type === 'date'">
                <input [ngClass]="{'active-filter':isActive(input.key)}" (change)="changeFiltersValue($event, input.key, input.type, idx)" type="date" class="date-select {{input._class}}">
              </ng-container>
            </div>
          </ng-container>

          <!-- If input is group -->
          <ng-template #groupInput>
            <div class="search-input-group col-2" *ngIf="input.group">
              <div class="row">
                <div class="col-12 wide-col">
                  <label>{{input.label}}</label>
                </div>
                <ng-container *ngFor="let subInputType of input.type; let idx = index ,first as isFirst">
                  <!-- TODO handle all types -->
                  <div class="search-input col-6 wide-col" [ngClass]="{'pl-1':!isFirst}">
                    <input [ngClass]="{'active-filter':isActive(input.key[idx])}" (change)="changeFiltersValue($event, input.key[idx], subInputType, idx)" type="date" class="form-control date-select">
                  </div>
                </ng-container>
              </div>
            </div>
          </ng-template>

        </ng-container>
      </div>
      <!-- } expanded search inputs -->

      <!-- expanded search buttons { -->
      <div class="row mt-2">
        <button class="integraa-btn" (click)="clearFilters()">Clear</button>
        <button class="integraa-btn ml-2" (click)="filter()">Search</button>
      </div>
      <!-- } expanded search buttons -->
      <!-- TODO REMAKE IN A BETTER WAY -->
      <!-- Cap statistics/filters { -->
      <div *ngIf="filters_data && filters_data.caps_group && grouping.active == 'cap'" class="cap-statistics-container row mt-4 justify-content-center d-flex">
        <div class="caps-inner-container">
          <ng-container *ngFor="let cap of filters_data.caps_group; let idx = index">
            <div class="cap-box ml-1" [ngClass]="{'active-cap': active_cap == cap}" (click)="filterCap(cap)">
              <div class="cap-box-content">
                <div class="cap-box-head">{{cap.name}}</div>
                <div class="cap-box-body" [ngClass]="{'odd-bg':!(idx%2),'even-bg':(idx%2)}">{{cap.count}}</div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div *ngIf="filters_data && filters_data.customer_group && grouping.active == 'client'" class="cap-statistics-container row mt-4 justify-content-center d-flex">
        <div class="caps-inner-container">
            <ng-container *ngFor="let customer of filters_data.customer_group; let idx = index">
                <div class="cap-box ml-1" [ngClass]="{'active-cap': active_cap == customer}" (click)="filterCustomer(customer)">
                    <div class="cap-box-content">
                        <div class="cap-box-head">{{customer.name}}</div>
                        <div class="cap-box-body" [ngClass]="{'odd-bg':!(idx%2),'even-bg':(idx%2)}">{{customer.count}}</div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
      <!-- } Cap statistics/filters -->

    </div>
  </div>
  <!-- } Collapsed Area -->


  <div class="row mt-2">

    <!-- Actions area {  -->
    <!-- Action select {  -->
    <div class="col-lg-2 col-md-10">
      <ng-select [items]="actions" [(ngModel)]="_m_active_action" (change)="changeActiveAction($event)" [bindLabel]="'name'" class="integraa-select" placeholder="Scegli un'operazione"></ng-select>
    </div>
    <!-- } Action select -->
    <ng-container *ngIf="active_action">
      <div class="col-lg-2 col-md-10" *ngFor="let field of active_action.fields">
        <ng-container *ngIf="field.type == 'select'">
          <ng-select [clearable]="false" (change)="changeActiveAction(active_action,field,$event)" class="integraa-select" [items]="field.options" [bindLabel]="'name'" [(ngModel)]="field.selectedAttribute"></ng-select>
        </ng-container>
        <ng-container *ngIf="field.type == 'text'">
          <input type="text" (change)="changeActiveAction(active_action,field,$event)" class="form-control">
        </ng-container>
      </div>
    </ng-container>
    <!-- Action submit btn {  -->
    <div class="col-lg-2 col-md-2">
      <button type="button" (click)="runAction()" class="integraa-btn">Esegui</button>
    </div>
    <!-- } Action submit btn  -->
    <!-- } Actions area -->

    <!-- Pagination area {  -->
    <div class="col align-self-end">
      <app-pagination></app-pagination>
    </div>
    <!-- } Pagination area  -->
  </div>

</div>

<ng-template appModal></ng-template>
