<div class="search-panel z-depth-half">


  <div class="row">
    <!-- easy search {  -->
    <ng-container *ngIf="isCollapsed && !_has_active_filters">
      <!-- easy search input { -->
      <div class="col-lg-2 wide-col" >
        <app-search-box *ngIf="!_search" [placeholder]="'Cerca'" [style]="'thin'" [value]="search_value" ></app-search-box>
        <ng-container *ngFor="let field of searchFields">
          <ng-container *ngIf="field.type === 'text'">
            <app-search-box (changed)="search_value = $event" *ngIf="_search && _search.key == field.key" [placeholder]="'Cerca'" [style]="'thin'" ></app-search-box>
          </ng-container>
          <ng-container *ngIf="field.type === 'number'">
            <input type="number" class="search-number-input" *ngIf="_search && _search.key == field.key" [(ngModel)]="search_value" [placeholder]="'Cerca'">
          </ng-container>
          <ng-container *ngIf="field.type === 'ng-select' && _search && _search.key == field.key">
            <ng-select [bindValue]="'id'" [clearable]="false" [loading]="_search.loadingState" (search)="getFieldRemoteData($event,_search)" [(ngModel)]="search_value" *ngIf="field.getMethod" class="integraa-select" [bindLabel]="_search.labelVal" [items]="_search.items" placeholder="Cerca"></ng-select>
            <ng-select [bindValue]="'id'" [clearable]="false" [(ngModel)]="search_value" *ngIf="!field.getMethod" class="integraa-select" [bindLabel]="_search.labelVal" [items]="_search.items" placeholder="Cerca"></ng-select>
          </ng-container>
          <ng-container *ngIf="field.type === 'date'">
            <input [(ngModel)]="search_value" *ngIf="_search && _search.key == field.key" #searchDateInput type="date" class="date-select">
          </ng-container>
        </ng-container>
      </div>
      <!-- } easy search input -->
      <!-- easy search field select { -->
      <div class="col-lg-2 wide-col">
        <ng-select [(ngModel)]="_search" (change)="searchFieldChanged($event)" [items]="searchFields" class="integraa-select" placeholder="Nel Campo"></ng-select>
      </div>
      <!-- } easy search field select  -->
      <!-- easy search submit { -->
      <div class="col-lg-3">
        <button type="button" (click)="search()" class="integraa-btn">Cerca</button>
      </div>
      <!-- } easy search submit -->
    </ng-container>
    <!-- } easy search  -->
    <div class="col-lg-10" *ngIf="isCollapsed && _has_active_filters">
      <div class="search-inputs-container row">
        <ng-container *ngFor="let field of filtersFields; let idx = index;">
          <ng-container *ngIf="_active_filters[field.key]" [ngTemplateOutlet]="searchItem" [ngTemplateOutletContext]="{input: field, idx: idx}"></ng-container>
        </ng-container>
      </div>
    </div>
    <!-- expanded search expand btn { -->
    <div class="col-lg-2" [ngClass]="{'offset-10':!isCollapsed, 'offset-3':!_has_active_filters}">
      <button type="button" class="integraa-btn search-panel-collapse-btn float-right" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="isCollapsed" aria-controls="searchCollapse">
        <span class="mr-1">Filtra</span>
        <ng-container *ngIf="isCollapsed; else collapseArrowUp">
          <fa-icon [icon]="['fa','chevron-down']"></fa-icon>
        </ng-container>
        <ng-template #collapseArrowUp><fa-icon [icon]="['fa','chevron-up']"></fa-icon></ng-template>
      </button>

      <button *ngIf="fieldsData && fieldsData.fields.changeViewButton" type="button" class="change-view-button float-right" (click)="changeViewButtonClicked(fieldsData.fields.changeViewButton.value)">
        <img src="{{fieldsData.fields.changeViewButton.icon}}">
      </button>
    </div>
    <!-- } expanded search expand btn -->
  </div>


  <!-- Collapsed Area { -->
  <div id="searchCollapse" [ngbCollapse]="isCollapsed">
    <div class="expanded-search-container container-fluid">
      <!-- expanded search inputs {  -->
      <div class="search-inputs-container row">
        <ng-container *ngFor="let input of filtersFields; let idx = index">
          <ng-container [ngTemplateOutlet]="searchItem" [ngTemplateOutletContext]="{input: input, idx: idx}"></ng-container>
        </ng-container>
      </div>
      <!-- } expanded search inputs -->

      <!-- expanded search buttons { -->
      <div class="row mt-2">
        <button class="integraa-btn" (click)="clearFilters()">Azzera</button>
        <button class="integraa-btn ml-2" (click)="filter()">Ricerca</button>
      </div>
      <!-- } expanded search buttons -->

    </div>
  </div>
  <!-- } Collapsed Area -->


  <div class="row mt-2">

    <!-- Actions area {  -->
    <!-- Action select {  -->
    <div class="col-lg-2 col-md-10" *ngIf="actions">
      <ng-select [items]="actions" [(ngModel)]="_m_active_action" (change)="changeActiveAction($event)" [bindLabel]="'name'" class="integraa-select" placeholder="Scegli un'operazione"></ng-select>
    </div>
    <!-- } Action select -->
    <ng-container *ngIf="active_action">
      <ng-container *ngIf="!actions"><span class="oneactiontitle">{{active_action.name}}</span></ng-container>
      <ng-container *ngFor="let field of active_action.fields" >
        <ng-container *ngIf="field.type == 'select'">
          <div class="col-lg-2 col-md-10" >
            <ng-select [clearable]="false" (change)="changeActiveAction(active_action,field,$event)" class="integraa-select" [items]="field.options" [bindLabel]="'name'" [(ngModel)]="field.selectedAttribute"></ng-select>
          </div>
        </ng-container>
        <ng-container *ngIf="field.type == 'text'">
          <div class="col-lg-2 col-md-10" >
            <input type="text" (keydown)="checkActionSubmit($event)" [placeholder]="field.placeholder" (input)="changeActiveAction(active_action,field,$event)" class="form-control light-text-input">
          </div>
        </ng-container>
        <ng-container *ngIf="field.type == 'button'">
          <div class="col-lg-1 col-md-10" >
            <button type="submit" (click)="field.click(active_action)" class="integraa-btn integraa-light-btn">{{ field.label }}</button>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
    <!-- Action submit btn {  -->
    <div class="col-lg-2 col-md-2">
      <button type="button" (click)="runAction()" class="integraa-btn">Esegui</button>
    </div>
    <!-- } Action submit btn  -->
    <!-- } Actions area -->

    <!-- Pagination area {  -->
    <div class="col align-self-end">
      <app-pagination></app-pagination>
    </div>
    <!-- } Pagination area  -->
  </div>

</div>

<ng-template #searchItem let-input="input" let-idx="idx">
  <ng-container *ngIf="!input.group">
    <div class="search-input col-2 wide-col">
      <label>{{input.label}}</label>
      <ng-container *ngIf="input.type === 'text'">
        <app-search-box [ngClass]="{'active-filter':_active_filters[input.key], 'filled-filter':_changed_filters[input.key]}" class="{{input._class}}" (changed)="changeFiltersValue($event, input.key, input.type, idx)" [placeholder]="'Cerca'" [style]="'thin'" ></app-search-box>
      </ng-container>
      <ng-container *ngIf="input.type === 'simpleText'">
        <input value="{{input.value}}" [(ngModel)]="filters[input.key]" [ngClass]="{'active-filter':_active_filters[input.key], 'filled-filter':_changed_filters[input.key]}" class="form-control {{input._class}}" (change)="changeFiltersValue($event, input.key, input.type, idx)" [placeholder]="'Cerca'">
      </ng-container>
      <ng-container *ngIf="input.type === 'number'">
        <input value="{{input.value}}" [(ngModel)]="filters[input.key]"  type="number" [ngClass]="{'active-filter':_active_filters[input.key], 'filled-filter':_changed_filters[input.key]}" class="form-control {{input._class}}" (change)="changeFiltersValue($event, input.key, input.type, idx)" [placeholder]="'Cerca'">
      </ng-container>
      <ng-container *ngIf="input.type === 'ng-select'">
        <ng-select  [(ngModel)]="filters[input.key]" [bindValue]="'id'" [clearable]="!input.unclearbale" [ngClass]="{'active-filter':_active_filters[input.key], 'filled-filter':_changed_filters[input.key]}" [loading]="input.loadingState" (search)="getFieldRemoteData($event,input)" (change)="changeFiltersValue($event, input.key, input.type, idx)" *ngIf="input.getMethod" class="filters-select-input {{input._class}}" [bindLabel]="input.labelVal" [items]="input.items" placeholder="Cerca"></ng-select>
        <ng-select  [(ngModel)]="filters[input.key]" [bindValue]="'id'" [clearable]="!input.unclearbale" [ngClass]="{'active-filter':_active_filters[input.key], 'filled-filter':_changed_filters[input.key]}" (change)="changeFiltersValue($event, input.key, input.type, idx)" *ngIf="!input.getMethod" class="filters-select-input {{input._class}}" [bindLabel]="input.labelVal" [items]="input.items" placeholder="Cerca"></ng-select>
      </ng-container>
      <ng-container *ngIf="input.type === 'auto-complete'">
        <ng-autocomplete
                class="filters-select-input {{input._class}}"
                [ngClass]="{'active-filter':_active_filters[input.key], 'filled-filter':_changed_filters[input.key]}"
                [(ngModel)]="filters[input.key]"
                [data]="input.items"
                [searchKeyword]="input.labelVal"
                (selected)='changeFiltersValue($event, input.key, input.type, idx)'
                (inputCleared)='changeFiltersValue(null, input.key, input.type, idx)'
                (inputChanged)='auGetFieldRemoteData($event,input)'
                [itemTemplate]="itemTemplate"
                [notFoundTemplate]="notFoundTemplate"
                [minQueryLength]="3"
                [placeHolder]="'Cerca'"
        >
        </ng-autocomplete>
      </ng-container>
      <ng-container *ngIf="input.type === 'tag'">
        <ng-select [(ngModel)]="filters[input.key]" [addTag]="'any'" [multiple]="true" notFoundText="Add Item" [clearable]="!input.unclearbale" [ngClass]="{'active-filter':_active_filters[input.key], 'filled-filter':_changed_filters[input.key]}" (change)="changeFiltersValue($event, input.key, input.type, idx)" class="filters-select-input {{input._class}}" [items]="input.items" placeholder="Cerca"></ng-select>
      </ng-container>
      <ng-container *ngIf="input.type === 'date'">
        <input [(ngModel)]="filters[input.key]" (ngModelChange)="filters[input.key] = $event" [ngClass]="{'active-filter':_active_filters[input.key], 'filled-filter':_changed_filters[input.key]}" (change)="changeFiltersValue($event, input.key, input.type, idx)" type="date" class="date-select {{input._class}}">
      </ng-container>
    </div>
  </ng-container>
  <ng-container *ngIf="input.group">
    <div class="search-input-group col-2">
      <div class="row">
        <div class="col-12 wide-col">
          <label>{{input.label}}</label>
        </div>
        <ng-container *ngFor="let subInputType of input.type; let subIdx = index ,first as isFirst">
          <!-- TODO handle all types -->
          <div class="search-input col-6 wide-col" [ngClass]="{'pl-1':!isFirst}">
            <input [(ngModel)]="filters[input.key[subIdx]]"  value="{{  input.value ? input.value[input.key[subIdx]] : ''}}" [ngClass]="{'active-filter':_active_filters[input.key[subIdx]], 'filled-filter':_changed_filters[input.key[subIdx]]}" (change)="changeFiltersValue($event, input.key[subIdx], subInputType, idx)" type="date" class="form-control date-select">
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>

</ng-template>
<!-- If input is group -->
<ng-template appModal></ng-template>
<ng-template  #confirmUnAppliedFiltersModalRef let-modal>
  <div class="modal-container nFoundItemModal">
    <div class="modal-body">
      <h6 class="text-center">ATTENZIONE! Alcuni filtri sono stati cambiati e non applicati, sei sicuro di voler eseguire ?</h6>
      <div class="btns-container mt-3">
        <button type="button" (click)="modal.close();runAction(true)" class="integraa-btn ml-2 float-right" >Esegui senza Applicare</button>
        <button type="button" (click)="modal.close();filter();runAction(true)" class="integraa-btn ml-2 float-right integraa-btn-confirm" >Applica ed Esegui</button>
        <button type="button" (click)="modal.close();" class="integraa-btn integraa-btn-dark ml-2 float-right" >Chiudi</button>
        <div class="clear-both"></div>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #itemTemplate let-item>
  <a [innerHTML]="item.name"></a>
</ng-template>

<ng-template #notFoundTemplate let-notFound>
  <div class="bg-white" >Nessun risultato</div>
</ng-template>