<ng-template #modalRef let-modal>
  <div class="modal-container">
    <div class="modal-body">
      <div class="no-filters-warning-message">
        ATTENZIONE! products should be added to pre-dispatch {{data.data[0].code}} with same info
      </div>
      <div class="btns-container mt-3">
        <button type="button" class="integraa-btn integraa-danger-btn ml-2 float-right" (click)="addToPreDispatch(modal)">Add To Pre-dispatch</button>
        <button type="button" class="integraa-btn bg-light float-right" (click)="modal.close()">Esci</button>
        <div class="clear-both"></div>
      </div>
    </div>
  </div>
</ng-template>
