.log-header {
    display: flex;
    background-color: #222222;
    color: #fcda4b;

}
.log-header-element {
    padding: 7px 0px;
}
.log-more-col {
    width: 2%;
    min-width: 30px;
    padding: 0px 5px;
}
.log-more-col fa-icon {
    cursor: pointer;
}
.log-date-col, .log-operator-col, .log-code-col, .log-state-col {
    width: 30%;
    text-align: center;
}
.log-header-element.log-date-col, .log-header-element.log-operator-col, .log-header-element.log-code-col, .log-header-element.log-state-col {
    border-right: 1px solid #FFF;
}
/* .log-state-col {
    width: 38%;
    max-width: calc(40% - 30px);
    text-align: center;
} */
.log-row{
    display: flex;
    padding: 5px 0px;
    font-size: 14px;
}