<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-expand-lg navbar-light planner-main-nav z-depth-half">
      <button class="navbar-toggler ml-2" type="button" data-toggle="collapse" data-target="#mainNavContent" aria-controls="mainNavContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mainNavContent">
        <ul class="navbar-nav container-fluid inner-nav">
          <li class="nav-item col-lg-2 col-md-12 planner-main-nav-item active-tab">
            <a class="nav-link" href="#"><span>Da consegnare</span> <fa-icon [icon]="['far','clone']"></fa-icon> </a>
          </li>
          <li class="nav-item col-lg-2 col-md-12 planner-main-nav-item">
            <a class="nav-link" href="#"><span>Pre-Distinta</span> <fa-icon [icon]="['far','clone']"></fa-icon> </a>
          </li>
          <li class="nav-item col-lg-2 col-md-12 planner-main-nav-item">
            <a class="nav-link" href="#"><span>Distinta</span> <fa-icon [icon]="['far','clone']"></fa-icon> </a>
          </li>
          <li class="nav-item col-lg-2 col-md-12 planner-main-nav-item">
            <a class="nav-link" href="#"><span>In consegna</span> <fa-icon [icon]="['far','clone']"></fa-icon> </a>
          </li>
          <li class="nav-item col-lg-2 col-md-12 planner-main-nav-item">
            <a class="nav-link" href="#"><span>In giacenza</span> <fa-icon [icon]="['far','clone']"></fa-icon> </a>
          </li>
          <li class="nav-item col-lg-2 col-md-12 planner-main-nav-item">
            <a class="nav-link" href="#"><span>Non consegnati</span> <fa-icon [icon]="['far','clone']"></fa-icon> </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>