<div class="col-6 v-wide-col not-fixed-upper-container">
  <div class="not-fixed-container" #notFixedTreeContainer infiniteScroll (scrolled)="loadMore()" [scrollWindow]="true" [infiniteScrollContainer]="notFixedTreeContainer" infiniteScrollDistance="30" >
    <div class="items">
      <div class="street-items-header">
        <div class="d-flex">
          <div class="col-2 wide-col">
            <!-- <div class="select-container select-all-container" (click)="selectAll()">
              <div class="selected" *ngIf="selected.length && selected.length === list.length"><fa-icon [icon]="['fa','check']"></fa-icon></div>
              <div class="selected" *ngIf="selected.length && selected.length !== list.length"><fa-icon [icon]="['fa','minus']"></fa-icon></div>
              <div class="not-selected" *ngIf="!selected.length"><fa-icon [icon]="['fa','check']"></fa-icon></div>
            </div> -->
          </div>
          <div class="col-4"><div class="street-items-header-cell">{{'schedule.fixed_tree.address' | translate}}</div></div>
          <div class="col-3 text-center"><div class="street-items-header-cell">{{'schedule.fixed_tree.deliver' | translate}}</div></div>
          <div class="col-3 wide-col pl-1"><div class="street-items-header-cell">{{'schedule.fixed_tree.time_of_arrival' | translate}}</div></div>
        </div>
      </div>
      <div mdbSortableList>
        <div *ngFor="let item of list; let idx = index" [dndDraggable]="{item: 2}" [dndEffectAllowed]="'move'" (dndStart)="onDragStart($event, item)">
          <div class="street-items" dndDropzone [dndHorizontal]="false" (dndDrop)="onDrop($event, item)" [ngClass]="{'drop-location': dragging && dragging.type === 'building'}">
            <ng-container [ngTemplateOutlet]="streetItems" [ngTemplateOutletContext]="{idx: idx, item:item, next: idx+''}"></ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template let-idx="idx" let-next="next" let-item="item" #streetItems>
  <ng-container *ngIf="item.skeleton;">
    <div class="rect-loading-skeleton full-width h-33 results-skeleton"></div>
  </ng-container>
  <ng-container  *ngIf="!item.skeleton;">
    <div class="street-item" [ngClass]="{'odd-bg': idx%2, 'even-bg': !(idx%2)}" [dndDraggable]="{item: 1}" [dndEffectAllowed]="'move'"
         (dndStart)="onDragStart($event, item)">
      <div class="d-flex">
        <div class="col-2 wide-col d-flex">
          <div class="select-container" (click)="select(item)">
            <div class="selected" *ngIf="item.selected"><fa-icon [icon]="['fa','check']"></fa-icon></div>
            <div class="not-selected" *ngIf="!item.selected"><fa-icon [icon]="['fa','check']"></fa-icon></div>
          </div>
          <div dndHandle class="drag-handle">☰</div>
        </div>
        <div class="col-4 wide-col pl-3"> <div class="text">{{item.address}}</div> </div>
        <div class="col-3 text-center"> <div class="count">{{item.productsCount}}</div> </div>
        <div class="col-3 wide-col pl-1"> <div class="count">{{item.time}}</div> </div>
      </div>
    </div>
  </ng-container>
</ng-template>
